---
// COMPONENTS

import Layout from '../../../layouts/Layout.astro';
import Breadcrumbs from '../../../components/Breadcrumbs.astro';
import Tags from '../../../components/Tags.astro';

// METADATA VARIABLES

let title = 'AI';
let description = 'A page all about artificial intelligence (or AI).';

---
<Layout {title} {description}>
        <Breadcrumbs title={title}/>
        <section class="intro">
          <h1>{title}</h1>
          <p class="desc">{description}</p>
          <p>Artificial intelligence, or AI, is an umbrella term describing how machines learn and process data.</p>
          <p>From self-driving cars to personal assistants and chatbots, AI continues to grow in popularity and notoriety. The articles and notes on this page offer a balanced approach to this technology, showing both the capabilities and harms involved.</p>
          <p><strong>Related terms</strong>: <a href="
https://logicface.co.uk/category/tech/computing/computer-science/ai/machine-learning/
">machine learning</a> | <a href="https://logicface.co.uk/tag/nlp/">natural language processing</a> | <a href="https://www.ibm.com/think/topics/computer-vision">computer vision</a> | <a href="https://www.ibm.com/think/topics/speech-recognition">speech recognition</a></p>
        </section>
        <section>
          <h2 class="wiki-h2">Inner voice</h2>
          <Tags tagName="AI" />
        </section>
        
        <section>
          <h2 class="wiki-h2">Out loud</h2>
          <ul>
            <li><a href="https://logicface.co.uk/category/tech/computing/computer-science/ai/">AI on LOGiCFACE</a></li>
            <li><a href="https://distantarcade.co.uk/tag/ai/">AI on Distant Arcade</a></li>
          </ul>
          <h2 class="wiki-h2">Second opinions</h2>
          
          <ul>
            <li><a href="https://minimaxir.com/2025/05/llm-use/">Max Woolf: As an Experienced LLM User, I Actually Don't Use Generative LLMs Often</a>

            <li><a href="https://minimaxir.com/2025/02/embeddings-parquet/">The Best Way to Use Text Embeddings Portably is With Parquet and Polars</a>

            <li><a href="https://jessbpeck.com/posts/googlesaiisbad/">How and Why Google Made its Own Product Worse</a>

            <li><a href="https://minimaxir.com/2024/06/pokemon-embeddings/">The Super Effectiveness of Pokémon Embeddings Using Only Raw JSON and Images</a>

            <li><a href="https://ludic.mataroa.blog/blog/i-will-fucking-piledrive-you-if-you-mention-ai-again/">I Will Fucking Piledrive You If You Mention AI Again</a>

            <li><a href="https://arxiv.org/pdf/2304.02819">GPT detectors are biased against non-native English writers</a>

            <li><a href="https://explosion.ai/blog/against-llm-maximalism">Against LLM maximalism</a>

            <li><a href="https://www.honeycomb.io/blog/hard-stuff-nobody-talks-about-llm">All the Hard Stuff Nobody Talks About when Building Products with LLMs</a>

            <li><a href="https://mitchellh.com/writing/prompt-engineering-transactional-prompting">Prompt Engineering is for Transactional Prompting</a>

            <li><a href="https://www.lesswrong.com/posts/D7PumeYTDPfBTp3i7/the-waluigi-effect-mega-post">The Waluigi Effect (mega-post)</a>

            <li><a href="https://mitchellh.com/writing/prompt-engineering-vs-blind-prompting">Prompt Engineering vs. Blind Prompting</a>

            <li><a href="https://maria-antoniak.github.io/2022/07/27/topic-modeling-for-the-people.html">Topic Modeling for the People</a>

            <li><a href="https://github.com/gigikenneth/ai-ethics-resources">A GitHub repo of AI ethics resources</a>

          </ul>
          
        </section>
</Layout>