---
// COMPONENTS

import Footer from '../../../components/Footer.astro';
import Layout from '../../../layouts/Layout.astro';
import Breadcrumbs from '../../../components/Breadcrumbs.astro';
import Tags from '../../../components/Tags.astro';

// HOW FETCHING!

// const remoteData = await fetch('https://logicface.co.uk/wp-json/wp/v2/posts?categories=498&per_page=3').then(response => response.json());
// const sfRemoteData = await fetch('https://sampleface.co.uk/wp-json/wp/v2/posts?tags=3110&per_page=1').then(response => response.json());
// const daRemoteData = await fetch('https://distantarcade.co.uk/wp-json/wp/v2/posts?tags=284&per_page=1').then(response => response.json());

// METADATA VARIABLES

let title = 'AI';
let description = 'A page all about artificial intelligence (or AI).';

---
<Layout {title} {description}>
    <div class="layout">
      <article class="content">
        <Breadcrumbs title={title}/>
        <section class="intro">
          <h1>{title}</h1>
          <p class="desc">{description}</p>
          <p>Artificial intelligence, or AI, is an umbrella term describing how machines learn and process data.</p>
          <p>From self-driving cars to personal assistants and chatbots, AI continues to grow in popularity and notoriety. The articles and notes on this page offer a balanced approach to this technology, showing both the capabilities and harms involved.</p>
          <p><strong>Related terms</strong>: <a href="https://logicface.co.uk/tag/machine-learning/">machine learning</a> | <a href="https://logicface.co.uk/tag/nlp/">natural language processing</a> | <a href="https://www.ibm.com/topics/computer-vision">computer vision</a> | <a href="https://www.ibm.com/topics/speech-recognition">speech recognition</a></p>
        </section>
        <section>
          <h2 class="wiki-h2">Inner voice</h2>
          <Tags tagName="AI" />
        </section>
        
        <section>
          <h2 class="wiki-h2">Out loud</h2>
          <ul>
            <li><a href="https://logicface.co.uk/category/tech/computing/computer-science/ai/">AI on LOGiCFACE</a></li>
            <li><a href="https://logicface.co.uk/tag/ai/">AI on Sampleface</a></li>
            <li><a href="https://distantarcade.co.uk/tag/ai/">AI on Distant Arcade</a></li>
          </ul>
          <h2 class="wiki-h2">Second opinions</h2>
          
          <ul><li>Coming soon...</li></ul>
          
        </section>
      </article>
      
    </div>
    <Footer/>
  </body>
</html>