---
// COMPONENTS

import Layout from '../../../layouts/Layout.astro';
import Breadcrumbs from '../../../components/Breadcrumbs.astro';
import Tags from '../../../components/Tags.astro';

// METADATA VARIABLES

let title = 'Tech';
let description = 'A wiki page all about tech.';

---
<style>h1::after{content:" 📟";}</style>

<Layout {title} {description}>
    <Breadcrumbs title={title}/>
    <section class="intro">
      <h1>{title}</h1>
      <p class="desc">{description}</p>
      <p>Related: <a href="/jardim/tech/ai/"><strong>AI</strong></a>
      | <a href="/jardim/tech/internet/"><strong>the Internet</strong></a>
      | <a href="/jardim/tech/python/"><strong>Python</strong></a>
      | <a href="/jardim/tech/seo/"><strong>SEO</strong></a></p>
    </section>
    <section>
      
      <h2 class="wiki-h2">Inner voice</h2>
      <Tags tagName="tech" />
    </section>
    
    <section>
      <h2 class="wiki-h2">Out loud</h2>
      <ul>
        <li><a href="https://sampleface.co.uk/category/technology/">Tech on Cultrface</a></li>
        <li><a href="https://cultrface.co.uk/category/technology/">Tech on Cultrface</a></li>
        <li><a href="https://logicface.co.uk/category/tech/">Tech on LOGiCFACE</a></li>
      </ul>
      <h2 class="wiki-h2">Second opinions</h2>
      <ul>
        <li>Coming soon...</li>
      </ul>
    </section>
  </article>
  

</Layout>