---
// COMPONENTS

import Header from '../../../components/Header.astro';
import Footer from '../../../components/Footer.astro';
import Layout from '../../../layouts/Layout.astro';
import Breadcrumbs from '../../../components/Breadcrumbs.astro';
import Tags from '../../../components/Tags.astro';

// HOW FETCHING!

// const remoteData = await fetch('https://logicface.co.uk/wp-json/wp/v2/posts?categories=5&per_page=3').then(response => response.json());
// const remoteData2 = await fetch('https://cultrface.co.uk/wp-json/wp/v2/posts?categories=24&per_page=2').then(response => response.json());

// METADATA VARIABLES

let title = 'Internet';
let description = 'A wiki page all about the internet and the Web.';

---
<Layout {title} {description}>
    <main class="layout">
      <article class="content">
        <Header />
        <Breadcrumbs title={title}/>
        <section class="intro">
          <h1>{title}</h1>
          <p class="desc">{description}</p>
        </section>
        <section>
          <h2 class="wiki-h2">Inner voice</h2>
          <Tags tagName="the Internet" />
        </section>
        
        <section>
          <h2 class="wiki-h2">Out loud</h2>
          <ul>
            <li>
              <a href="https://logicface.co.uk/category/internet/">The Internet on LOGiCFACE</a>
            </li>
            <li>
              <a href="https://cultrface.co.uk/category/internet/">The Internet on Cultrface</a>
            </li>
          </ul>
          <h2 class="wiki-h2">Second opinions</h2>
          <ul>
            <li><a href="https://www.voorhoede.nl/en/blog/why-skip-links-are-important-for-accessibility/">Why skip-links are important for accessibility</a></li>
            <li><a href="https://buditanrim.co/2021/auditing-color-system/">Design system: Auditing color system</a></li>
            <li><a href="https://adrianroselli.com/2021/06/using-css-to-enforce-accessibility.html">Using CSS to Enforce Accessibility</a></li>
            <li><a href="https://www.htmhell.dev/tips/the-current-page/">Use the aria-current attribute to highlight the current page in a navigation, both visually and semantically</a></li>
            <li><a href="https://www.a11y-collective.com/blog/the-perfect-link/">The perfect link</a></li>
            <li><a href="https://kittygiraudel.com/2021/02/17/hiding-content-responsibly/">Hiding Content Responsibly</a></li>
            <li><a href="https://abilitynet.org.uk/news-blogs/5-ways-make-your-tweets-accessible">5 ways to make your tweets accessible</a></li>
            <li><a href="https://www.smashingmagazine.com/2021/06/img-alt-attribute-alternate-description-decorative/">Your Image Is Probably Not Decorative</a></li>
            <li><a href="https://www.a11yproject.com/posts/everyday-accessibility/">Everyday Accessibility</a></li>
            <li><a href="https://thehistoryoftheweb.com/they-offered-a-million-dollars-to-surf-the-web-somebody-won/">They Offered a Million Dollars to Surf The Web. Somebody Won.</a></li>
            <li><a href="https://jessbpeck.com/posts/truthvstruthiness/">Truth vs. Truthiness | The Philosophy of Search Results</a></li>
            <li><a href="https://yurilee.hashnode.dev/css-units-are-confusing-af">CSS units are confusing AF 😖</a></li>
            <li><a href="https://tamethebots.com/tools/knowledgegraph">A cool Google Knowledge Graph lookup tool</a></li>
          </ul>
        </section>
      </article>
      
    </main>
    <Footer/>
  </body>
</html>