---
// COMPONENTS

import Header from '../../../components/Header.astro';
import Footer from '../../../components/Footer.astro';
import Layout from '../../../layouts/Layout.astro';
import Breadcrumbs from '../../../components/Breadcrumbs.astro';
import Tags from '../../../components/Tags.astro';

// METADATA VARIABLES

let title = 'Javascript';
let description = 'A wiki page all about Javascript.';

---
<Layout {title} {description}>
    <main class="layout">
      <article class="content">
        <Header />
        <Breadcrumbs title={title}/>
        <section class="intro">
          <h1>{title}</h1>
          <p class="desc">{description}</p>
        </section>
        <section>
          <h2 class="wiki-h2">Inner voice</h2>
            <Tags tagName="Javascript" />
        </section>
        
        <section>
          <h2 class="wiki-h2">Out loud</h2>
          <ul>
            <li>
              <a href="https://logicface.co.uk/tag/javascript/">Javascript on LOGiCFACE</a>
            </li>
          </ul>
          <h2 class="wiki-h2">Second opinions</h2>
          
          <ul><li>Coming soon...</li></ul>
          
        </section>
      </article>
      
    </main>
    <Footer/>
  </body>
</html>