---
// COMPONENTS

import Layout from '../../../layouts/Layout.astro';
import Breadcrumbs from '../../../components/Breadcrumbs.astro';
import Tags from '../../../components/Tags.astro';

// METADATA VARIABLES

let title = 'JavaScript';
let description = 'A wiki page all about JavaScript.';

---
<style>h1::after{content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none'%3E%3Cg clip-path='url(%23SVGXv8lpc2Y)'%3E%3Cpath fill='%23094739' fill-rule='evenodd' d='M0 0h24v24H0zm18.347 20.12c-1.113 0-1.742-.58-2.225-1.37l-1.833 1.065c.662 1.308 2.015 2.306 4.11 2.306c2.142 0 3.737-1.112 3.737-3.143c0-1.883-1.082-2.72-2.998-3.543l-.564-.241c-.968-.42-1.387-.693-1.387-1.37c0-.547.42-.966 1.08-.966c.647 0 1.064.273 1.451.966l1.756-1.127c-.743-1.307-1.773-1.806-3.207-1.806c-2.014 0-3.303 1.288-3.303 2.98c0 1.835 1.08 2.704 2.708 3.397l.564.242c1.029.45 1.642.724 1.642 1.497c0 .646-.597 1.113-1.531 1.113m-8.74-.015c-.775 0-1.098-.53-1.452-1.16l-1.836 1.112c.532 1.126 1.578 2.06 3.383 2.06c1.999 0 3.368-1.063 3.368-3.398v-7.7h-2.255v7.67c0 1.127-.468 1.416-1.209 1.416' clip-rule='evenodd'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='SVGXv8lpc2Y'%3E%3Cpath fill='%23fff' d='M0 0h24v24H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/g%3E%3C/svg%3E");padding-left:0.5rem;}</style>

<Layout {title} {description}>
  <Breadcrumbs title={title}/>
  <hgroup class="intro">
  <h1>{title}</h1>
  <p class="desc">{description}</p>
  </hgroup>
  <section>
    <h2 class="wiki-h2">Inner voice</h2>
    <Tags tagName="JavaScript" />
  </section>
  <section>
    <h2 class="wiki-h2">Out loud</h2>
    <ul>
      <li>
        <a href="https://logicface.co.uk/tag/javascript/">JavaScript on LOGiCFACE</a>
      </li>
    </ul>
    <h2 class="wiki-h2">Second opinions</h2>
    <ul>
      <li><a href="https://muan.co/posts/javascript">JavaScript dos and donts</a></li>
    </ul>
  </section>
</Layout>