---
// COMPONENTS

import Layout from '../../../layouts/Layout.astro';
import Breadcrumbs from '../../../components/Breadcrumbs.astro';
import Tags from '../../../components/Tags.astro';

// METADATA VARIABLES

let title = 'Python';
let description = 'A wiki page all about Python.';

---
<style>h1::after{content: ' 🐍';}</style>

<Layout {title} {description}>
        <Breadcrumbs title={title}/>
        <section class="intro">
          <h1>{title}</h1>
          <p class="desc">{description}</p>
        </section>
        <section>
          <h2 class="wiki-h2">Inner voice</h2>
            <Tags tagName="Python" />
        </section>
        
        <section>
          <h2 class="wiki-h2">Out loud</h2>
          <ul>
            <li>
              <a href="https://logicface.co.uk/tag/python/">Python on LOGiCFACE</a>
            </li>
          </ul>
          <h2 class="wiki-h2">Second opinions</h2>
          
          <ul><li>Coming soon...</li></ul>
          
        </section>
</Layout>