---
// COMPONENTS

import BaseHead from '../../../components/BaseHead.astro';
import Header from '../../../components/Header.astro';
import Footer from '../../../components/Footer.astro';
import Layout from '../../../layouts/Layout.astro';
import Breadcrumbs from '../../../components/Breadcrumbs.astro';
import site from '../../../data/site.json';
import jardim from '../../../data/jardim.json';
import Tags from '../../../components/Tags.astro';

// PROPS

const { post } = Astro.props;

// HOW FETCHING!

const remoteData = await fetch('https://logicface.co.uk/wp-json/wp/v2/posts?tags=337&per_page=10').then(response => response.json());

// METADATA VARIABLES

let title = 'SEO';
let description = 'A wiki page all about SEO.';

---
<Layout {title} {description}>
    <main class="layout">
      <article class="content">
        <Breadcrumbs title={title}/>
        <section class="intro">
          <h1>{title}</h1>
          <p class="desc">{description}</p>
          <p>SEO (search engine optimisation) is the process of improving websites to gain the most traffic and the best ranking on search engines. SEO contibutes to organic traffic which is different to paid traffic, involving online advertising (e.g. Google Ads).</p>
          <p>The difficulty of SEO is what you make it and differs with every website. Because of this, a common and sometimes controversial axiom within the industry is "it depends", which is often used as a response to SEO-related questions.</p>
        </section>
        <section>
          <h2 class="wiki-h2">Inner voice</h2>
          <Tags tagName="SEO" />
        </section>
        
        <section>
          <h2 class="wiki-h2">Out loud</h2>
          <ul>
            {remoteData.map((item) => (
            <li>
              <a href={item.link}><Fragment set:html={item.title.rendered}></a>
            </li>
            ))}
          </ul>
          <h2 class="wiki-h2">Second opinions</h2>
          
          <ul><li>Coming soon...</li></ul>
          
        </section>
      </article>
      
    </main>
    <Footer/>
  </body>
</html>