---
// COMPONENTS

import Layout from '../../../layouts/Layout.astro';
import Breadcrumbs from '../../../components/Breadcrumbs.astro';
import Tags from '../../../components/Tags.astro';

// METADATA VARIABLES

let title = 'SEO';
let description = 'A wiki page all about SEO.';

---
<style>h1::after{content: ' 🔍';}</style>

<Layout {title} {description}>
        <Breadcrumbs title={title}/>
        <hgroup class="intro">
          <h1>{title}</h1>
          <p class="desc">{description}</p>
          <p>SEO (search engine optimisation) is the process of improving websites to gain the most traffic and the best ranking on search engines. SEO contibutes to organic traffic which is different to paid traffic, involving online advertising (e.g. Google Ads).</p>
          <p>The difficulty of SEO is what you make it and differs with every website. Because of this, a common and sometimes controversial axiom within the industry is "it depends", which is often used as a response to SEO-related questions.</p>
        </hgroup>
        <section>
          <h2 class="wiki-h2">Inner voice</h2>
          <Tags tagName="SEO" />
        </section>
        
        <section>
          <h2 class="wiki-h2">Out loud</h2>
          <ul>
            <li>
              <a href="https://logicface.co.uk/tag/search-engines/">Search engines on LOGiCFACE</a>
            </li>
          </ul>
          <h2 class="wiki-h2">Second opinions</h2>
          
          <ul>
            <li>
              <a href="https://greenseo.org/">GreenSEO</a> - <q>to empower, connect and give you SEOs the tools you need to create a meaningful and long-lasting impact on creating a carbon-friendly internet.</q>
            </li>
          </ul>
          
        </section>
</Layout>