---
// IMPORTS

import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';

export interface Props {
  post: any;
}

const { canonicalURL = Astro.url } = Astro.props;

export async function getStaticPaths({paginate}) {
  const allPosts = await getCollection('recortes');
  const sortedPosts = allPosts.sort((a, b) => new Date(b.data.pubDate) - new Date(a.data.pubDate));
  
  // Return a paginated collection of paths for all posts
  return paginate(sortedPosts, {pageSize: 25});
}

const { page } = Astro.props;

// METADATA

let title = page.url.prev ? `Recortes (Page ${page.currentPage}/${page.lastPage})` : 'Recortes';
let description = "Cuttings, notes and things.";
---
<Layout {title} {description}>
          <div class="title-meta">
            <h1>{title}</h1>
            <section>
          <p class="title-desc">Random notes and stuff. <span lang="pt">Recortes</span> is Portuguese for "cuttings".</p>
        </section>
          </div>
        </section>
        
    <section style="margin-top:var(--space-lg);">
       <ul class="post-list">
      {page.data.map(post => (
            <li class="post-listing">
              <a href={`/recortes/${post.slug}/`}>{post.data.title}</a>
              <span class="publish-date">{post.data.pubDate}</span>
            </li>
          ))}
        </ul>
    </section>
        <div class="page-links">{page.url.prev && (
          <a
            class='prev'
            href={page.url.prev || '#'}
          >
            &laquo; Prev
          </a>
        )}
        {page.url.prev && page.url.next && ""}
        {page.url.next && (
          <a
            class='Next'
            href={page.url.next || '#'}
          >
            Next &raquo;
          </a>
        )}</div>
