---
// COMPONENTS

import Layout from '../../../layouts/Layout.astro';
import Breadcrumbs from '../../../components/Breadcrumbs.astro';
import Tags from '../../../components/Tags.astro';

// METADATA VARIABLES

let title = 'Gaming';
let description = 'A wiki page all about gaming.';

---

<style>h1::after{content: " 🕹️"}</style>

<Layout {title} {description}>
        <Breadcrumbs title={title}/>
        <section class="intro">
          <h1>{title}</h1>
          <p class="desc">{description}</p>
        </section>
        <section>
          
          <h2 class="wiki-h2">Inner voice</h2>
            <Tags tagName="gaming" />
        </section>
        
        <section>
          <h2 class="wiki-h2">Out loud</h2>
          <ul>
            <li>
              <a href="https://cultrface.co.uk/category/gaming/">Gaming on Cultrface</a>
            </li>
            <li>
              <a href="https://logicface.co.uk/category/video-games/">Video games on LOGiCFACE</a>
            </li>
            <li>
              <a href="https://playrface.co.uk/tag/video-games/">Video games on Playrface</a>
            </li>
            <li>
              <a href="https://distantarcade.co.uk/">Distant Arcade</a>
            </li>
          </ul>
          <h2 class="wiki-h2">Second opinions</h2>
          
          <ul>
            <li><a href="https://lavacutcontent.com/sugimori-masuda-developer-interview/">Interview: Sugimori &amp; Masuda on Building Gen 1</a></li>
            <li><a href="https://tellthemidied.blog/2025/05/08/clair-obscur-expedition-33s-gommage-is-the-perfect-example-of-passive-violence/">clair obscur: expedition 33’s gommage is the perfect example of passive violence</a></li>
          </ul>
        </section>
</Layout>