---
import BaseHead from '../../components/BaseHead.astro';
import BlogHeader from '../../components/BlogHeader.astro';
import BlogFooter from '../../components/BlogFooter.astro';
import site from '../../data/site.json';

export async function getStaticPaths({rss, paginate}) {
  // Load your data with fetch(), Astro.fetchContent(), etc.
  let allPosts = await Astro.glob('../post/*.md')
  allPosts = allPosts.sort((a, b) => new Date(b.frontmatter.date) - new Date(a.frontmatter.date));
  // Return a paginated collection of paths for all posts
  return paginate(allPosts, { pageSize: 25 });
}

// If set up correctly, The page prop now has everything that
// you need to render a single page (see next section).
const { page, canonicalURL = Astro.canonicalURL } = Astro.props
  
interface Post {
    title: string
    date: string
    url: string
}

/**
 * This takes a list of post objects and groups them by year, into an array similar to
 * [
 *   {
 *     year: 2021,
 *     items: []
 *   },
 *   {
 *     year: 2020,
 *     items: []
 *   }
 * ]
 */
function postsByYear(posts: Post[]) {
  // Data structure used to group items by year
  interface PostsByYearData {
    year: number
    items: Post[]
  }

  /**
   * This builds a map similar to {
   *   2021: {
   *     year: 2021,
   *     items: []
   *   },
   *   2020: {
   *     year: 2020,
   *     items: []
   *   }
   * }
   */
  const postsByYearMap = posts.reduce(function(acc, post) {
    // get the post's year
    const year = new Date(post.frontmatter.date).getFullYear()

    /**
     * Try to find the list of posts found so far for the same year.
     * If it doesn't exist yet, start with an empty array
     */
    const existing = acc.get(year)?.items || []
    
    /**
     * Update the map with a new object for the year,
     * adding the current post to the list of previously found posts (from existing above)
     */
    acc.set(year, {
      year,
      items: existing.concat(post)
    })
    
    // make sure you return the value in a reduce()!
    return acc;
  }, new Map<number, PostsByYearData>())

  /**
   * Get an array of posts by year, and sort with the most recent posts first
   * The [...] syntax is used here to create a basic JS array from an iterable Map
   */
  return [...postsByYearMap.values()]
    .sort((a, b) => b.year - a.year);
}

// Take the current page of posts from getStaticPaths' paginate helper
// and pass them to postsByYear to get a sorted list of year/posts data
const postGroups = postsByYear(page.data)

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let domain = 'https://lukealexdavis.co.uk';
let title = 'Posts';
let description = "";
---
<html lang="en">
  <head>
    <BaseHead title={title + ' (Page ' + page.currentPage + '/' + page.lastPage + ')'} description={description} canonicalURL={canonicalURL} />

    <style>

      .content {
        margin-bottom: 8rem;
      }

      .content :global(main > * + *) {
        margin-top: 1rem;
      }

      .intro {
        padding-bottom: 1.4rem;
      }

      .intro > * {
        margin: 0;
      }

      .content :global(main > * + *) {
  margin-top: 1rem;
}

.post-listing {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  }

.post-preview {
  padding-bottom: 1rem;
}

.post-listing a {
  max-width: 60%;
}

.publish-date {
  letter-spacing: 2px;
}

.title, .publish-date {
  margin: 0;
}

.publish-date {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.title {
  font-size: 2.25rem;
  font-weight: 700;
  color: var(--theme-text);
}

    </style>
  </head>

  <body>
    <BlogHeader />
    <div class="layout">
      <article class="content">
        <section class="intro">
          <h1>{title + ' (Page ' + page.currentPage + '/' + page.lastPage + ')'}</h1>
        </section>
        <section>
          <p>You can follow the blog via an <a href="/blog.xml">RSS feed.</a></p>
        </section>
    {postGroups.map(({ year, items }) => (
  <section>
    <h3>{year}</h3>
    <ul class="post-list">
    {items.map((post) => (
      <li class="post-preview post-listing post-list">
        <a href={post.url}>{post.frontmatter.title}</a>
        <span class="publish-date">{post.frontmatter.date}</span>
      </li>
    ))}
    </ul>
    </section>
      ))}    
        <div class="page-links">{page.url.prev && (
          <a
            class='prev'
            href={page.url.prev || '#'}
          >
            &laquo; Prev
          </a>
        )}
        {page.url.prev && page.url.next && ""}
        {page.url.next && (
          <a
            class='Next'
            href={page.url.next || '#'}
          >
            Next &raquo;
          </a>
        )}</div>
      </article>
    </div>
    <BlogFooter></BlogFooter>
  </body>
</html>