---
import BlogPost from '../../layouts/BlogPost.astro';
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import PrevNextLinking from '../../components/PrevNextLinking.astro';
import FiledUnder from '../../components/FiledUnder.astro';

export const sortByDate = (a, b) => {
  return new Date(b.data.pubDate) - new Date(a.data.pubDate);
}

export async function getStaticPaths() {
  const posts = await getCollection('posts');
  const numberOfPosts = posts.length;
  return posts.sort(sortByDate).map((post, i) => ({
    params: { slug: post.slug },
    props: {
      post,
      prevPost: // Previous post
          i + 1 === numberOfPosts // If the current post is the oldest
            ? { frontmatter: ""}
            : posts[i + 1],
      nextPost: // Next post
        i === 0 // If the current post is the newest
          ? { frontmatter: "" }
          : posts[i - 1],
        }
  }));
}

type Props = CollectionEntry<'posts'>;

const { post, prevPost, nextPost, prevSlug, prevTitle, nextSlug, nextTitle, contentType } = Astro.props;
const { Content } = await post.render();

---
<Layout title={post.data.title} description={post.data.description} pubDate={post.data.pubDate}>
<BlogPost {...post.data}>
  <main class="layout">
    <article class="content">
      <Header />
      <div style="margin-top:4rem;">
        <div class="post-meta">
        <p class="publish-date"><FormattedDate date={post.data.pubDate} /></p>
              <h1>{post.data.title}</h1>
            </div>
              <FiledUnder tags={post.data.tags}/>
                <Content />
                  <PrevNextLinking contentType="posts" prevPost={prevPost.data} nextPost={nextPost.data} prevSlug={prevPost?.slug} prevTitle={prevPost.data?.title} nextSlug={nextPost?.slug} nextTitle={nextPost.data?.title} />
                </div>
    </article>
  </main>
<Footer />
</BlogPost>