---
import BaseHead from '../../components/BaseHead.astro';
import FormattedDate from '../../components/FormattedDate.astro';
import linkblog from '../../data/linkblog.json';

export async function getStaticPaths({ paginate }) {
  return paginate(linkblog, { pageSize: 25 });
}

const { page } = Astro.props;

let fullTitle = page.url.prev ? `Linkblog (Page ${page.currentPage}/${page.lastPage})` : 'Linkblog';
let description = "I exclusively post links in this blog. Everything from tech to SEO to life. But mostly tech.";
---
<BaseHead title={fullTitle} description={description} stylesheetURL="linkblog.css"/>
  <main class="container">
    <header class="linkblog__header">
      <h1>{fullTitle}</h1>
      <p>Interesting links go here. If you have any suggestions, hit me up!</p>
      <p><a href="/posts/i-started-a-linkblog/">Read more about the link blog.</a></p>
    </header>
    <table class="link-table">
      <thead>
      <tr>
        <th class="link-table__date">Date</th>
        <th class="link-table__title">Title</th>
        <th class="link-table__desc">Description</th>
      </tr>
    </thead>
    <tbody>
      {page.data.map(
        (post) => (

      <tr class="link-table__item">
        <td class="link-table__date"><FormattedDate date={new Date(post.date)} /></td>
          <td class="link-table__title">
            <a href={post.url}>{post.title}</a>
            </td>
          <td class="link-table__desc">
            {post.quote == "yes" ? <q cite={post.url}>{post.description}</q> : post.description}</td>
        </tr>
        )
      )
    }
    </tbody>
      </table>
    </section>
    <div class="page-nav-links">{page.url.prev && (
      <a class='prev' href={page.url.prev || '#'}>&laquo; Prev</a>)}
      {page.url.prev && page.url.next && ""}
      {page.url.next && (
      <a class='Next' href={page.url.next || '#'}>Next &raquo;</a>
    )}</div>
</div>
</main>