---

import Layout from '../../layouts/Layout.astro';
import FormattedDate from '../../components/FormattedDate.astro';
import { getCollection } from 'astro:content';

export interface Props {
  canonicalURL: string;
  page: any;
}

let title = 'Lists';
let description = "I like lists. Sometimes I write them for fun, other times I write them to remind me to get things from the shop. While you won't see any of my shopping lists here, I wanted to have a space to write random lists about cool stuff that come to mind.";

export async function getStaticPaths({paginate}) {
  const allPosts = await getCollection('lists');
  const sortedPosts = allPosts.sort((a, b) => new Date(b.data.pubDate) - new Date(a.data.pubDate));
  return paginate(sortedPosts, { pageSize: 25 });
}

const { page } = Astro.props;
---
<Layout title={title} description={description}>

<style>

  .content {
    font-family: Arial, sans-serif;
    margin-bottom: 8rem;  
  }

  .content :global(main > * + *) {
    margin-top: 1rem;
  }

  h1 {
    font-family: 'Georgia', serif;
    font-style: italic;
  }

  .intro {
    padding-bottom: 1.4rem;
  }

  .intro > * {
    margin: 0;
  }

  .content :global(main > * + *) {
    margin-top: 1rem;
  }

.post-preview {
  padding-bottom: 1rem;
}

.post-listing a {
  max-width: 60%;
}

.publish-date {
  letter-spacing: 2px;
}

.title,
.publish-date {
  margin: 0;
}

.publish-date {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.title {
  font-size: 2.25rem;
  font-weight: 700;
  color: var(--theme-text);
}

.date-smaller {
  font-size: 0.8125rem;
  font-style: italic;
}

.post-list li {
  list-style: "\002B" inside;
}

.post-list li::marker {
  font-size: 13px;
  font-weight: 700;
}
</style>

<section class="intro title-meta">
      <h1>{title}</h1>
      <p>I like making lists of things, in any or no order at all.</p>
    </section>
<section>
   <ul class="post-list">
  {page.data.map(list => (
        <li>
          <a href={`/lists/${list.slug}/`}>{list.data.title}</a>
          <p class="date-smaller"><FormattedDate date={list.data.pubDate} /></p>
        </li>
      ))}
    </ul>
</section>
    <div class="page-links space-xl">{page.url.prev && (
      <a
        class='prev'
        href={page.url.prev || '#'}
      >
        &laquo; Prev
      </a>
    )}
    {page.url.prev && page.url.next && ""}
    {page.url.next && (
      <a
        class='Next'
        href={page.url.next || '#'}
      >
        Next &raquo;
      </a>
    )}</div>
</Layout>
