---
// COMPONENTS

import { Markdown } from 'astro/components';
import BaseHead from '../../../components/BaseHead.astro';
import BlogHeader from '../../../components/BlogHeader.astro';
import BlogFooter from '../../../components/BlogFooter.astro';
import Breadcrumbs from '../../../components/Breadcrumbs.astro';
import site from '../../../data/site.json';
import wiki from '../../../data/wiki.json'

// EXPORT

export interface Props {
  post: any;
  metaTitle: string;
  title: string;
  slug: string;
  description: string;
  domain: string;
}

// PROPS

const { post } = Astro.props;

// HOW FETCHING!

const remoteData = await fetch('https://cultrface.co.uk/wp-json/wp/v2/posts?categories=17').then(response => response.json());

const remoteData2 = await fetch('https://sampleface.co.uk/wp-json/wp/v2/posts?categories=1705').then(response => response.json());

const remoteData3 = await fetch('https://logicface.co.uk/wp-json/wp/v2/posts?categories=255').then(response => response.json());

// METADATA VARIABLES

let title = 'Tech';
let slug = '/wiki/tech/';
let description = 'A wiki page all about tech.';
let domain = "https://lukealexdavis.co.uk"

---
<html lang="en">
  <head>
    <BaseHead title={'wiki/' + title.toLowerCase()} description={description} canonicalURL={domain + slug} />
</head>

  <body>
    <BlogHeader />
      <div class="layout">
        <article class="content">
          <Breadcrumbs title={title}/>
            <section class="intro">

              <h1>{title}</h1>
              <p class="desc">{description}</p>
       </section>
            <section>
             
              <h2 class="wiki-h2">Inner voice</h2>
                <Markdown>
                  * [**/internet**](/wiki/tech/internet/)
                  * [/whats-the-obsession-with-folding-phone.md](/post/whats-the-obsession-with-folding-phone/)
                  * [/my-phone-history.md](/post/my-phone-history/)
                  * [/my-love-of-sony-hardware-design.md](/post/my-love-of-sony-hardware-design/)
                  * [/halt-and-make-fire.md](/post/halt-and-make-fire/)
                  * [/computer-words.md](/post/wikinotes/computer-words/)
                </Markdown>
            </section>
      
            <section>
              <h2 class="wiki-h2">Out loud</h2>
              <ul class="post-list">
                {remoteData.map((item) => (
                <li class="post-preview wiki-listing post-list">
            <a href={item.link}>{item.title.rendered}</a>
          </li>
             ))}
          {remoteData2.map((item) => (
                <li class="post-preview wiki-listing post-list">
            <a href={item.link}>{item.title.rendered}</a>
          </li>
             ))}
             {remoteData3.map((item) => (
                <li class="post-preview wiki-listing post-list">
            <a href={item.link}>{item.title.rendered}</a>
          </li>
             ))}
             </ul>
              <h2 class="wiki-h2">Second opinions</h2>
                <Markdown>
                  * Coming soon...
                </Markdown>
            </section>
        </article>
      
    </div>
    <BlogFooter></BlogFooter>
  </body>
</html>