---
// COMPONENTS

import BaseHead from '../../../components/BaseHead.astro';
import BlogHeader from '../../../components/BlogHeader.astro';
import BlogFooter from '../../../components/BlogFooter.astro';
import Breadcrumbs from '../../../components/Breadcrumbs.astro';
import site from '../../../data/site.json';
import wiki from '../../../data/wiki.json';

// EXPORT

export interface Props {
  post: any;
  metaTitle: string;
  title: string;
  slug: string;
  description: string;
  domain: string;
}

// PROPS

const { post } = Astro.props;

// HOW FETCHING!

const remoteData = await fetch('https://cultrface.co.uk/wp-json/wp/v2/posts?categories=17&per_page=3').then(response => response.json());

const remoteData2 = await fetch('https://sampleface.co.uk/wp-json/wp/v2/posts?categories=1705&per_page=3').then(response => response.json());

const remoteData3 = await fetch('https://logicface.co.uk/wp-json/wp/v2/posts?categories=255&per_page=4').then(response => response.json());

// METADATA VARIABLES

let title = 'Tech';
let slug = '/wiki/tech/';
let description = 'A wiki page all about tech.';
let domain = "https://lukealexdavis.co.uk"

---
<html lang="en">
  <head>
    <BaseHead title={'wiki/' + title.toLowerCase()} description={description} canonicalURL={domain + slug} />
</head>

  <body>
    <BlogHeader />
      <div class="layout">
        <article class="content">
          <Breadcrumbs title={title}/>
            <section class="intro">

              <h1>{title}</h1>
              <p class="desc">{description}</p>
       </section>
            <section>
             
              <h2 class="wiki-h2">Inner voice</h2>
                <ul>
                  <li><a href="/wiki/tech/ai/"><strong>/ai</strong></a></li>
                  <li><a href="/wiki/tech/internet/"><strong>/internet</strong></a></li>
                  <li><a href="/wiki/tech/python/"><strong>/python</strong></a></li>
                  <li><a href="/wiki/tech/seo/"><strong>/seo</strong></a></li>
                  <li><a href="/post/whats-the-obsession-with-folding-phone/">/whats-the-obsession-with-folding-phone.md</a></li>
                  <li><a href="/post/my-phone-history/">/my-phone-history.md</a></li>
                  <li><a href="/post/my-love-of-sony-hardware-design/">/my-love-of-sony-hardware-design.md</a></li>
                  <li><a href="/post/halt-and-make-fire/">/halt-and-make-fire.md</a></li>
                  <li><a href="/post/wikinotes/computer-words/">/computer-words.md</a></li>
                </ul>
            </section>
      
            <section>
              <h2 class="wiki-h2">Out loud</h2>
              <ul class="post-list">
                {remoteData.map((item) => (
                <li class="post-preview wiki-listing post-list">
            <a href={item.link}><Fragment set:html={item.title.rendered}></a>
          </li>
             ))}
          {remoteData2.map((item) => (
                <li class="post-preview wiki-listing post-list">
            <a href={item.link}><Fragment set:html={item.title.rendered}></a>
          </li>
             ))}
             {remoteData3.map((item) => (
                <li class="post-preview wiki-listing post-list">
            <a href={item.link}><Fragment set:html={item.title.rendered}></a>
          </li>
             ))}
             </ul>
              <h2 class="wiki-h2">Second opinions</h2>
                <ul>
                  <li>Coming soon...</li>
                </ul>
            </section>
        </article>
      
    </div>
    <BlogFooter></BlogFooter>
  </body>
</html>