---
// COMPONENTS

import BaseHead from '../../../components/BaseHead.astro';
import BlogHeader from '../../../components/BlogHeader.astro';
import BlogFooter from '../../../components/BlogFooter.astro';
import Breadcrumbs from '../../../components/Breadcrumbs.astro';
import site from '../../../data/site.json';
import wiki from '../../../data/wiki.json'

// EXPORT

export interface Props {
  post: any;
  metaTitle: string;
  title: string;
  slug: string;
  description: string;
  domain: string;
}

// PROPS

const { post } = Astro.props;

// HOW FETCHING!

const remoteData = await fetch('https://logicface.co.uk/wp-json/wp/v2/posts?categories=5&per_page=5').then(response => response.json());

const remoteData2 = await fetch('https://cultrface.co.uk/wp-json/wp/v2/posts?categories=24&per_page=5').then(response => response.json());

// METADATA VARIABLES

let title = 'Internet';
let slug = '/wiki/tech/internet/';
let description = 'A wiki page all about the internet and the Web.';
let domain = "https://lukealexdavis.co.uk"

---
<html lang="en">
  <head>
    <BaseHead title={'wiki/' + title.toLowerCase()} description={description} canonicalURL={domain + slug} />
  </head>
  <body>
    <BlogHeader />
    <div class="layout">
      <article class="content">
        <Breadcrumbs title={title}/>
        <section class="intro">
          <h1>{title}</h1>
          <p class="desc">{description}</p>
        </section>
        <section>
          
          <h2 class="wiki-h2">Inner voice</h2>
          <ul>
            <li><a href="/post/we-need-to-use-the-lang-attribute-more/">/we-need-to-use-the-lang-attribute-more.md</a></li>
            <li><a href="/post/get-a-website/">/get-a-website.md</a></li>
            <li><a href="/post/trolls-pills/">/trolls-pills.md</a></li>
            <li><a href="/post/the-exclusive-website/">/the-exclusive-website.md</a></li>
            <li><a href="/post/talk-work-think-different-thanks-web/">/talk-work-think-different-thanks-web.md</a></li>
            <li><a href="/post/prince-purple-a-visited-css/">/prince-purple-a-visited-css.md</a></li>
            <li><a href="/post/halt-and-make-fire/">/halt-and-make-fire.md</a></li>
            <li><a href="/post/future-job-web-historian/">/future-job-web-historian.md</a></li>
            <li><a href="/post/this-is-my-content-creation-flow/">/this-is-my-content-creation-flow.md</a></li>
            <li><a href="/post/dont-delete-your-old-work/">/dont-delete-your-old-work.md</a></li>
          </ul>
        </section>
        
        <section>
          <h2 class="wiki-h2">Out loud</h2>
          <ul class="post-list">
            {remoteData.map((item) => (
            <li class="post-preview wiki-listing post-list">
              <a href={item.link}>{item.title.rendered}</a>
            </li>
            ))}
            {remoteData2.map((item) => (
            <li class="post-preview wiki-listing post-list">
              <a href={item.link}>{item.title.rendered}</a>
            </li>
            ))}
          </ul>
          <h2 class="wiki-h2">Second opinions</h2>
          <ul>
            <li><a href="https://www.voorhoede.nl/en/blog/why-skip-links-are-important-for-accessibility/">Why skip-links are important for accessibility</a></li>
            <li><a href="https://buditanrim.co/2021/auditing-color-system/">Design system: Auditing color system</a></li>
            <li><a href="https://adrianroselli.com/2021/06/using-css-to-enforce-accessibility.html">Using CSS to Enforce Accessibility</a></li>
            <li><a href="https://www.htmhell.dev/tips/the-current-page/">Use the aria-current attribute to highlight the current page in a navigation, both visually and semantically</a></li>
            <li><a href="https://www.a11y-collective.com/the-perfect-link/">The perfect link</a></li>
            <li><a href="https://kittygiraudel.com/2021/02/17/hiding-content-responsibly/">Hiding Content Responsibly</a></li>
            <li><a href="https://www.abilitynet.org.uk/news-blogs/5-ways-make-your-tweets-accessible">5 ways to make your tweets accessible</a></li>
            <li><a href="https://www.smashingmagazine.com/2021/06/img-alt-attribute-alternate-description-decorative/">Your Image Is Probably Not Decorative</a></li>
            <li><a href="https://www.a11yproject.com/posts/everyday-accessibility/">Everyday Accessibility</a></li>
            <li><a href="https://thehistoryoftheweb.com/they-offered-a-million-dollars-to-surf-the-web-somebody-won/">They Offered a Million Dollars to Surf The Web. Somebody Won.</a></li>
            <li><a href="https://jessbpeck.com/posts/truthvstruthiness/">Truth vs. Truthiness | The Philosophy of Search Results</a></li>
            <li><a href="https://yurilee.hashnode.dev/css-units-are-confusing-af">CSS units are confusing AF 😖</a></li>
          </ul>
        </section>
      </article>
      
    </div>
    <BlogFooter></BlogFooter>
  </body>
</html>