---
// COMPONENTS

import { Markdown } from 'astro/components';
import BaseHead from '../../../components/BaseHead.astro';
import BlogHeader from '../../../components/BlogHeader.astro';
import BlogFooter from '../../../components/BlogFooter.astro';
import Breadcrumbs from '../../../components/Breadcrumbs.astro';
import site from '../../../data/site.json';
import wiki from '../../../data/wiki.json'

// EXPORT

export interface Props {
  post: any;
  metaTitle: string;
  title: string;
  slug: string;
  description: string;
  domain: string;
}

// PROPS

const { post } = Astro.props;

// HOW FETCHING!

const remoteData = await fetch('https://logicface.co.uk/wp-json/wp/v2/posts?tags=148&per_page=100').then(response => response.json());

// METADATA VARIABLES

let title = 'Python';
let slug = '/wiki/tech/python/';
let description = 'A wiki page all about Python.';
let domain = "https://lukealexdavis.co.uk"

---
<html lang="en">
  <head>
    <BaseHead title={'wiki/' + title.toLowerCase()} description={description} canonicalURL={domain + slug} />
</head>

  <body>
    <BlogHeader />
      <div class="layout">
        <article class="content">
          <Breadcrumbs title={title}/>
            <section class="intro">

              <h1>{title}</h1>
              <p class="desc">{description}</p>
       </section>
            <section>
             
              <h2 class="wiki-h2">Inner voice</h2>
                <Markdown>
                  * [/introducing-ralts.md](/post/introducing-ralts/)
                  * [/you-dont-have-to-learn-python-but-it-might-help.md](/post/you-dont-have-to-learn-python-but-it-might-help/)
                </Markdown>
            </section>
      
            <section>
              <h2 class="wiki-h2">Out loud</h2>
              <ul class="post-list">
                {remoteData.map((item) => (
                <li class="post-preview wiki-listing post-list">
            <a href={item.link}><Fragment set:html={item.title.rendered}></a>
          </li>
             ))}
             </ul>
              <h2 class="wiki-h2">Second opinions</h2>
                <Markdown>
                  Coming soon...
                </Markdown>
            </section>
        </article>
      
    </div>
    <BlogFooter></BlogFooter>
  </body>
</html>