---
// COMPONENTS

import Layout from '../../layouts/Layout.astro';
import Breadcrumbs from '../../components/Breadcrumbs.astro';
import Tags from '../../components/Tags.astro';

// METADATA VARIABLES

let title = 'Blogging';
let description = 'A wiki page all about blogging.';

---
<style>h1::after{content:" 💻";}</style>

<Layout {title} {description}>
        <Breadcrumbs title={title}/>
        <hgroup class="intro">
          <h1>{title}</h1>
          <p class="desc">{description}</p>
        </hgroup>
        <section>
          
          <h2 class="wiki-h2">Inner voice</h2>
            <Tags tagName="blogging" />
        </section>
        
        <section>
          <h2 class="wiki-h2">Out loud</h2>
          <ul>
            <li><a href="https://cultrface.co.uk/tag/blogs/">Blogging on Cultrface</a></li>
          </ul>
          <h2 class="wiki-h2">Second opinions</h2>
          
          <ul>
            <li><a href="https://mailchi.mp/kottke/blogging-is-not-dead-edition-2575912502">Blogging Is Most Certainly Not Dead</a></li>
            <li><a href="https://nadiaeghbal.com/">Nadia Eghbal</a></li>
            <li><a href="https://www.kickscondor.com/nadia-eghbal/">Nadia Eghbal, Re: Writing Hypertext</a></li>
            <li><a href="https://www.niemanlab.org/2015/10/ed-silverman-of-pharmalot-on-building-longevity-and-audience-loyalty-in-blogging/">Ed Silverman of Pharmalot on building longevity — and audience loyalty — in blogging</a></li>
            <li><a href="https://tomcritchlow.com/2019/02/17/building-digital-garden/">Building a digital garden</a></li>
            <li><a href="https://tomcritchlow.com/2018/10/10/of-gardens-and-wikis/">Of Digital Streams, Campfires and Gardens</a></li>
            <li><a href="https://www.niemanlab.org/2018/02/last-blog-standing-last-guy-dancing-how-jason-kottke-is-thinking-about-kottke-org-at-20/">Last blog standing, “last guy dancing”: How Jason Kottke is thinking about kottke.org at 20</a></li>
            <li><a href="https://creatorinterviews.com/2019/03/05/jason-kottke-og-blogger/">Jason Kottke, OG blogger</a></li>
            <li><a href="https://opus.ing/posts/jason-kottke-modern-state-blogging-my-own-blogging-mission">Jason Kottke, the Modern State of Blogging, and My Own Blogging Mission</a></li>
            <li><a href="https://tomcritchlow.com/wiki/blogging/new-blogging/">New blogging</a></li>
            <li><a href="https://tomcritchlow.com/wiki/blogging/">Tom Critchlow&#39;s wiki on blogging</a></li>
            <li><a href="https://www.technologyreview.com/2020/09/03/1007716/digital-gardens-let-you-cultivate-your-own-little-bit-of-the-internet/">Digital gardens let you cultivate your own little bit of the internet</a></li>
            <li><a href="https://www.davidlebovitz.com/recipe-attribution/">Recipe atttribution</a></li>
          </ul>
          
        </section>
</Layout>