---
// COMPONENTS

import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import Layout from '../../layouts/Layout.astro';
import Breadcrumbs from '../../components/Breadcrumbs.astro';
import site from '../../data/site.json';
import jardim from '../../data/jardim.json'
import tags from '../../data/tags.json'

// PROPS

const { post } = Astro.props;

// HOW FETCHING!

const remoteData = await fetch('https://cultrface.co.uk/wp-json/wp/v2/posts?tags=836&per_page=10').then(response => response.json());

// METADATA VARIABLES

let title = 'Blogging';
let description = 'A wiki page all about blogging.';

---
<Layout {title} {description}>
    <main class="layout">
      <article class="content">
        <Breadcrumbs title={title}/>
        <section class="intro">
          <h1>{title}</h1>
          <p class="desc">{description}</p>
        </section>
        <section>
          
          <h2 class="wiki-h2">Inner voice</h2>

          <ul>
            {tags.blogging.map((tag) => (
            <li>
              <a href={tag.link}>{tag.title}</a>
            </li>
          ))}
        </ul>
        </section>
        
        <section>
          <h2 class="wiki-h2">Out loud</h2>
          <ul>
            {remoteData.map((item) => (
            <li>
              <a href={item.link}><Fragment set:html={item.title.rendered}></a>
            </li>
            ))}
          </ul>
          <h2 class="wiki-h2">Second opinions</h2>
          
          <ul>
            <li><a href="https://mailchi.mp/kottke/blogging-is-not-dead-edition-2575912502">Blogging Is Most Certainly Not Dead</a></li>
            <li><a href="https://nadiaeghbal.com/">Nadia Eghbal</a></li>
            <li><a href="https://www.kickscondor.com/nadia-eghbal/">Nadia Eghbal, Re: Writing Hypertext</a></li>
            <li><a href="https://www.niemanlab.org/2015/10/ed-silverman-of-pharmalot-on-building-longevity-and-audience-loyalty-in-blogging/">Ed Silverman of Pharmalot on building longevity — and audience loyalty — in blogging</a></li>
            <li><a href="https://tomcritchlow.com/2019/02/17/building-digital-garden/">Building a digital garden</a></li>
            <li><a href="https://tomcritchlow.com/2018/10/10/of-gardens-and-wikis/">Of Digital Streams, Campfires and Gardens</a></li>
            <li><a href="https://www.niemanlab.org/2018/02/last-blog-standing-last-guy-dancing-how-jason-kottke-is-thinking-about-kottke-org-at-20/">Last blog standing, “last guy dancing”: How Jason Kottke is thinking about kottke.org at 20</a></li>
            <li><a href="https://creatorinterviews.com/2019/03/05/jason-kottke-og-blogger/">Jason Kottke, OG blogger</a></li>
            <li><a href="https://opuszine.us/posts/jason-kottke-modern-state-blogging-my-own-blogging-mission">Jason Kottke, the Modern State of Blogging, and My Own Blogging Mission</a></li>
            <li><a href="https://tomcritchlow.com/wiki/blogging/new-blogging/">New blogging</a></li>
            <li><a href="https://tomcritchlow.com/wiki/blogging/">Tom Critchlow&#39;s wiki on blogging</a></li>
            <li><a href="https://www.technologyreview.com/2020/09/03/1007716/digital-gardens-let-you-cultivate-your-own-little-bit-of-the-internet/">Digital gardens let you cultivate your own little bit of the internet</a></li>
            <li><a href="https://www.davidlebovitz.com/recipe-attribution/">Recipe atttribution</a></li>
          </ul>
          
        </section>
      </article>
      
    </main>
    <Footer/>
  </body>
</html>