---
// COMPONENTS

import Layout from '../../layouts/Layout.astro';
import Breadcrumbs from '../../components/Breadcrumbs.astro';

// METADATA VARIABLES

let title = 'Books';
let description = 'A page all about books.';

---
<style>h1::after{content:" 📕";}</style>

<Layout {title} {description}>
        <Breadcrumbs title={title}/>
        <section class="intro">
          <h1>{title}</h1>
          <p class="desc">{description}</p>
        </section>
        <section>
          
          <h2 class="wiki-h2">Inner voice</h2>
          
          <p>Coming soon...</p>
          
        </section>
        
        <section>
          <h2 class="wiki-h2">Out loud</h2>
          <ul>
            <li><a href="https://cultrface.co.uk/category/books/">Books on Cultrface</a></li>
            <li><a href="https://distantarcade.co.uk/tag/books/">Books on Distant Arcade</a></li>
            <li><a href="https://sampleface.co.uk/tag/books/">Books on Sampleface</a></li>
            <li><a href="https://logicface.co.uk/tag/books/">Books on LOGiCFACE</a></li>
          </ul>
          <h2 class="wiki-h2">Second opinions</h2>
          
          <ul>
            <li>Coming soon...</li>
          </ul>
          
        </section>
</Layout>