---
// COMPONENTS

import Layout from '../../layouts/Layout.astro';
import Breadcrumbs from '../../components/Breadcrumbs.astro';
import Tags from '../../components/Tags.astro';

// METADATA VARIABLES

let title = 'Colours';
let description = 'A wiki page all about colours.';

---
<Layout {title} {description}>
          <Breadcrumbs title={title}/>
            <section class="intro">

              <h1>{title}</h1>
              <p class="desc">{description}</p>
       </section>
            <section>
              <h2 class="wiki-h2">Inner voice</h2>
              <Tags tagName="colours" />
            </section>
      
            <section>
              <h2 class="wiki-h2">Out loud</h2>
              <ul>
                <li><a href="https://cultrface.co.uk/tag/colours/">Colours on Cultrface</a></li>
              </ul>
              <h2 class="wiki-h2">Second opinions</h2>
                <ul>
                  <li><a href="https://www.impressiondigital.com/blog/the-real-psychology-of-colour/">The Real Psychology of Colour</a></li>
                </ul>
            </section>
</Layout>
