---
// COMPONENTS

import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import Layout from '../../layouts/Layout.astro';
import Breadcrumbs from '../../components/Breadcrumbs.astro';
import Tags from '../../components/Tags.astro';

// HOW FETCHING!

// const remoteData = await fetch('https://distantarcade.co.uk/wp-json/wp/v2/posts?per_page=5').then(response => response.json());

// METADATA VARIABLES

let title = 'Gaming';
let description = 'A wiki page all about gaming.';

---
<Layout {title} {description}>
    <main class="layout">
      <article class="content">
        <Header />
        <Breadcrumbs title={title}/>
        <section class="intro">
          <h1>{title}</h1>
          <p class="desc">{description}</p>
        </section>
        <section>
          
          <h2 class="wiki-h2">Inner voice</h2>
            <Tags tagName="gaming" />
        </section>
        
        <section>
          <h2 class="wiki-h2">Out loud</h2>
          <ul>
            <li>
              <a href="https://cultrface.co.uk/category/gaming/">Gaming on Cultrface</a>
            </li>
            <li>
              <a href="https://logicface.co.uk/category/video-games/">Video games on LOGiCFACE</a>
            </li>
            <li>
              <a href="https://playrface.co.uk/tag/video-games/">Video games on Playrface</a>
            </li>
            <li>
              <a href="https://distantarcade.co.uk/">Distant Arcade</a>
            </li>
          </ul>
          <h2 class="wiki-h2">Second opinions</h2>
          
          <ul>
            <li><a href="https://lavacutcontent.com/sugimori-masuda-developer-interview/">Interview: Sugimori &amp; Masuda on Building Gen 1</a></li>
          </ul>
        </section>
      </article>
      
    </main>
    <Footer/>
  </body>
</html>