---
// COMPONENTS

import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import jardim from '../../data/jardim.json'

// METADATA VARIABLES

let title = 'Jardim';
let description = "A digital garden, or jardim, full of the things I love, with lots of ideas, rough drafts, and related miscellany.";

---
<Layout {title} {description}>

  <style>
    .jardim-list {
      margin-bottom: calc(var(--space-xl) * 2);
    }

    .jardim-list a {
      display:block;
      border-bottom: 0.5px solid #295f2b;
      padding: 1.4rem 1.4rem 0 1.4rem;
      text-decoration: none;
    }

    .jardim-list a:hover {
      background: #d8dfd7;
    }

    .jardim-list a p:first-child {
      padding-bottom: 0;
    }

    .jardim-list a p:last-child {
      color: black;
      font-weight: normal;
    }
  </style>
  <section class="title-meta">
          <h1>{title}</h1>
          <p>Inspired by <a href="https://tomcritchlow.com/wiki/">Tom Critchlow's Wiki</a>, this is my digital garden.</p>
        </section>
      <section>
    <section class="jardim-list">
            {jardim.branches.map((item) => (
            <a href={item.url}>
              <p>{item.name}</p>
              <p>{item.desc}</p>
            </a>
             ))}
    </section>
    </section>
  </Layout>
