---
// COMPONENTS

import Layout from '../../layouts/Layout.astro';
import Breadcrumbs from '../../components/Breadcrumbs.astro';
import Tags from '../../components/Tags.astro';

// METADATA VARIABLES

let title = 'Japan';
let description = 'A wiki page all about Japan.';

---
<style>h1::after{content:" 🇯🇵";}</style>

<Layout {title} {description}>
          <Breadcrumbs title={title}/>
            <section class="intro">

              <h1>{title}</h1>
              <p class="desc">{description}</p>

            </section>
            <section>
             
              <h2 class="wiki-h2">Inner voice</h2>
              <Tags tagName="Japan" />
                <p>Coming soon...</p>
            </section>
      
            <section>
              <h2 class="wiki-h2">Out loud</h2>
              <ul>
                <li><a href="https://sampleface.co.uk/tag/japan/">Japan on Sampleface</a></li>
                <li><a href="https://cultrface.co.uk/tag/japan/">Japan on Cultrface</a></li>
                <li><a href="https://logicface.co.uk/tag/japan/">Japan on LOGiCFACE</a></li>
                <li><a href="https://playrface.co.uk/tag/japan/">Japan on Playrface</a></li>
                <li><a href="https://distantarcade.co.uk/tag/japan/">Japan on Distant Arcade</a></li>
              </ul>
              <h2 class="wiki-h2">Second opinions</h2>
                <ul>
                  <li>
                    Coming soon...
                  </li>
                </ul>
            </section>

</Layout>