---
// COMPONENTS

import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import Layout from '../../layouts/Layout.astro';
import Breadcrumbs from '../../components/Breadcrumbs.astro';
import site from '../../data/site.json';
import jardim from '../../data/jardim.json'

// PROPS

const { post } = Astro.props;

// HOW FETCHING!

const sfJapan = await fetch('https://sampleface.co.uk/wp-json/wp/v2/posts?tags=285&per_page=2').then(response => response.json());
const cfJapan = await fetch('https://cultrface.co.uk/wp-json/wp/v2/posts?tags=52&per_page=2').then(response => response.json());
const lfJapan = await fetch('https://logicface.co.uk/wp-json/wp/v2/posts?tags=13&per_page=2').then(response => response.json());
const pfJapan = await fetch('https://playrface.co.uk/wp-json/wp/v2/posts?tags=393&per_page=2').then(response => response.json());
const daJapan = await fetch('https://distantarcade.co.uk/wp-json/wp/v2/posts?tags=157&per_page=2').then(response => response.json());

// METADATA VARIABLES

let title = 'Japan';
let description = 'A wiki page all about Japan.';

---
<Layout {title} {description}>
      <main class="layout">
        <article class="content">
          <Breadcrumbs title={title}/>
            <section class="intro">

              <h1>{title}</h1>
              <p class="desc">{description}</p>

            </section>
            <section>
             
              <h2 class="wiki-h2">Inner voice</h2>
                <p>Coming soon...</p>
            </section>
      
            <section>
              <h2 class="wiki-h2">Out loud</h2>
              <ul>
                {sfJapan.map(( post ) => (
                  <li>
                    <a href={post.link}><Fragment set:html={post.title.rendered}></a>
                  </li>
                ))}
                {cfJapan.map(( post ) => (
                  <li>
                    <a href={post.link}><Fragment set:html={post.title.rendered}></a>
                  </li>
                ))}
                {lfJapan.map(( post ) => (
                  <li>
                    <a href={post.link}><Fragment set:html={post.title.rendered}></a>
                  </li>
                ))}
                {pfJapan.map(( post ) => (
                  <li>
                    <a href={post.link}><Fragment set:html={post.title.rendered}></a>
                  </li>
                ))}
                {daJapan.map(( post ) => (
                  <li>
                    <a href={post.link}><Fragment set:html={post.title.rendered}></a>
                  </li>
                ))}
              </ul>
              <h2 class="wiki-h2">Second opinions</h2>
                <ul>
                  <li>
                    Coming soon...
                  </li>
                </ul>
            </section>
        </article>
      
      </main>
    
    <Footer/>
  
  </body>

</html>