---
// COMPONENTS

import Layout from '../../layouts/Layout.astro';
import Breadcrumbs from '../../components/Breadcrumbs.astro';
import Tags from '../../components/Tags.astro';

// METADATA VARIABLES

let title = 'Life';
let description = 'A wiki page all about life.';

---
<style>h1::after{content:" 🌄";}</style>

<Layout {title} {description}>
          <Breadcrumbs title={title}/>
            <hgroup class="intro">
              <h1>{title}</h1>
              <p class="desc">{description}</p>
            </hgroup>
            <section>
              <h2 class="wiki-h2">Inner voice</h2>
                <Tags tagName="life" />
            </section>

</Layout>
