---
// COMPONENTS

import Layout from '../../layouts/Layout.astro';
import Breadcrumbs from '../../components/Breadcrumbs.astro';
import Tags from '../../components/Tags.astro';

// METADATA VARIABLES

let title = 'Lisbon';
let description = 'A page all about Lisbon in Portugal.';

---
<style>h1::after{content:" 🇵🇹";}</style>

<Layout {title} {description}>
          <Breadcrumbs title={title}/>
            <section class="intro">

              <h1>{title}</h1>
              <p class="desc">{description}</p>

              <p>Lisbon is the capital city of Portugal and my favourite city in the world. I first visited in 2017 for my birthday and returned in 2018 and 2022. 2023 is my next planned trip.</p>

              <p lang="pt">Lisboa é a capital de Portugal e minha cidade favorita no mundo. Eu visitei pela primeira vez em 2017 para o meu aniversário e voltarei em 2018 e 2022. 2023 é a minha próxima viagem planeada.</p>

            </section>
            <section>
             
              <h2 class="wiki-h2">Inner voice</h2>
                <Tags tagName="Lisbon" />
            </section>
      
            <section>
              <h2 class="wiki-h2">Out loud</h2>
              <ul>
                <li><a href="https://cultrface.co.uk/tag/lisbon/">Lisbon on Cultrface</a></li>
                <li><a href="https://playrface.co.uk/tag/sporting-cp/">Sporting CP on Playrface</a></li>
                <li><a href="https://playrface.co.uk/tag/benfica/">Benfica on Playrface</a></li>
              </ul>
              <h2 class="wiki-h2">Second opinions</h2>
                <ul>
                  <li>
                    Coming soon...
                  </li>
                </ul>
            </section>
        </article>

</Layout>
