---
// COMPONENTS

import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import Layout from '../../layouts/Layout.astro';
import Breadcrumbs from '../../components/Breadcrumbs.astro';
import Tags from '../../components/Tags.astro';

// METADATA VARIABLES

let title = 'Pokémon';
let description = 'A wiki page all about Pokémon.';

---
<Layout {title} {description}>
      <main class="layout">
        <article class="content">
          <Header />
          <Breadcrumbs title={title}/>
            <section class="intro">

              <h1>{title}</h1>
              <p class="desc">{description}</p>
              <p><strong>Pokémon</strong> is a video game franchise created by Satoshi Tajiri that began in 1996 with the release of <em>Pokémon Red and Green</em>. It revolutionized the gaming industry, with its unique take on monster collecting and RPG battling, and inadvertently revived the life cycle of the Game Boy, nearly a decade after its release. With over 1,000 different species to collect and train, Pokémon is a global phenomenon and one very close to my heart.</p>
              <p><strong>Related terms</strong>: <a href="/jardim/gaming/">gaming</a> | <a href="/jardim/japan/">Japan</a></p>
            </section>
            <section>
             
              <h2 class="wiki-h2">Inner voice</h2>
                <Tags tagName="Pokémon" />
            </section>
      
            <section>
              <h2 class="wiki-h2">Out loud</h2>
              <ul>
                <li><a href="https://cultrface.co.uk/tag/pokemon/">Pokémon on Cultrface</a></li>
                <li><a href="https://logicface.co.uk/tag/pokemon/">Pokémon on Playrface</a></li>
                <li><a href="https://distantarcade.co.uk/category/pokemon/">Pokémon on Distant Arcade</a></li>
              </ul>
            </section>
        </article>
      
      </main>
    
   <Footer/>
  
  </body>

</html>
