---
// COMPONENTS

import BaseHead from '../../../components/BaseHead.astro';
import Header from '../../../components/Header.astro';
import Footer from '../../../components/Footer.astro';
import Layout from '../../../layouts/Layout.astro';
import Breadcrumbs from '../../../components/Breadcrumbs.astro';
import site from '../../../data/site.json';
import jardim from '../../../data/jardim.json'
import Tags from '../../../components/Tags.astro';

// PROPS

const { post } = Astro.props;

// HOW FETCHING!

const remoteData = await fetch('https://sampleface.co.uk/wp-json/wp/v2/posts?per_page=5').then(response => response.json());

const remoteData2 = await fetch('https://cultrface.co.uk/wp-json/wp/v2/posts?categories=12&per_page=5').then(response => response.json());

// METADATA VARIABLES

let title = 'Music';
let description = 'A page all about music.';

---
<Layout {title} {description}>
      <main class="layout">
        <article class="content">
          <Breadcrumbs title={title}/>
              <h1>{title}</h1>
              <p class="desc">{description}</p>
              <p>It wouldn't be an exaggeration to say that music saved my life. Even before I started making it, I listened to it intently thanks to my parents and their amazing collection of records and CDs. I've immersed myself in music, written about it, made countless songs, cried to plenty more, and dancing til my feet were sore. Music is the best and these articles, by me and others, offers a glimpse into that journey.</p>
              <h2 class="wiki-h2">Inner voice</h2>
              <Tags tagName="music" />
              <h2 class="wiki-h2">Out loud</h2>
              <h3>From Sampleface</h3>
              <ul>
                {remoteData.map((item) => (
                <li>
            <a href={item.link}><Fragment set:html={item.title.rendered}></a>
          </li>
             ))}
           </ul>
           <p><a href="https://sampleface.co.uk/">Read more on Sampleface</a></p>
           <h3>From Cultrface</h3>
           <ul>
             {remoteData2.map((item) => (
                <li>
            <a href={item.link}><Fragment set:html={item.title.rendered}></a>
          </li>
             ))}
             </ul>
             <p><a href="https://cultrface.co.uk/category/music/">Read more on Cultrface</a></p>
              <h2 class="wiki-h2">Second opinions</h2>
                  <ul>
                    <li><a href="https://reverb.com/news/a-history-of-the-sp-404">How the SP-404 Came to Dominate the Global Beat Scene</a></li>
                    <li><a href="https://pitchfork.com/features/article/9478-searching-for-tomorrow-the-story-of-madlib-and-dooms-madvillainy/">Searching for Tomorrow: The Story of Madlib and DOOM&#39;s Madvillainy</a></li>
                  </ul>
        </article>
      
    </main>
    <Footer/>
  </body>
</html>
