---
// COMPONENTS

import Layout from '../../../layouts/Layout.astro';
import Breadcrumbs from '../../../components/Breadcrumbs.astro';
import Tags from '../../../components/Tags.astro';

// METADATA VARIABLES

let title = 'Music';
let description = 'A page all about music.';

---
<Layout {title} {description}>
<Breadcrumbs title={title}/>
<hgroup class="intro"><h1>{title}</h1>
  <p class="desc">{description}</p>
  <p>It wouldn't be an exaggeration to say that music saved my life. Even before I started making it, I listened to it intently thanks to my parents and their amazing collection of records and CDs. I've immersed myself in music, written about it, made countless songs, cried to plenty more, and dancing til my feet were sore. Music is the best and these articles, by me and others, offers a glimpse into that journey.</p></hgroup>
  <section><h2 class="wiki-h2">Inner voice</h2>
  <Tags tagName="music" /></section>
  <section class="space-xl"><h2 class="wiki-h2">Out loud</h2>
    <h3>From Sampleface</h3>
    <ul>
      <li><a href="https://sampleface.co.uk/category/music/">Music on Sampleface</a></li>
      <li><a href="https://cultrface.co.uk/category/music/">Music on Cultrface</a></li>
    </ul></section>
    </Layout>