---
// COMPONENTS

import Layout from '../../../layouts/Layout.astro';
import Breadcrumbs from '../../../components/Breadcrumbs.astro';
import Tags from '../../../components/Tags.astro';

// METADATA VARIABLES

let title = 'Prince';
let description = 'A page all about Prince.';

---

<style>

  * {
    color: #421a51;
  }

  :global(a, .h2__home) {
    color: #421a51;
  }

  body {
    background: var(--pink-cashmere);
  }

  .wiki-h2 ~ ul li:nth-child(n) {
    list-style-type: ul-prince-f;
  }

  .wiki-h2 ~ ul li:nth-child(2n) {
    list-style-type: ul-prince-m;
  }

  h1::after{content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='48' height='48' viewBox='0 0 538.6 538.6'%3E%3Cpath fill='%23421a51' d='M445.8,269.2c-4-7.5-11.5-26-15-51s7-63.9,7.8-68.5s-1.3-1.7-1.3-1.7s-3.1,6.9-12.6,17.9 c-9.4,11-17.3,18.5-46.9,30.6c-19.6,8-46.5,11.6-63.3,11.9c21.9-15.4,36.3-40.9,36.3-69.7c0-47-38.1-85.2-85.2-85.2 c-47,0-85.2,38.1-85.2,85.2c0,30.8,16.3,57.7,40.8,72.7c-7.5,1.9-27.3,6.9-45.3,11.2c-22.8,5.5-55.9,19.1-75.6,36.4 s-26.6,48.3-13.2,67.3c13.9,19.7,37.6,22.3,54.9,14.4c17.3-7.9,20-24.3,17.9-33.1c-2.1-8.8-9.2-18.9-27.3-17.3 c-15.6,2.1-20.5,10.2-22.9,16.2c-2.4,6,0.1,16.6,9.4,18.5c8.7,1.7,15.3-2.9,13.6-11.6c-1.7-8.7-13.6-4.9-13.6-4.9s2.3-4.4,5.7-6.8 c3.4-2.4,14-5.5,20.5-0.5s8.5,17.5,0,26s-27,5.1-27,5.1c-4.5-0.9-24.5-9.1-24.5-28.1s8.5-30.5,35.5-47s91.9-23,101.5-23.5 c5.4-0.3,13.1-0.4,20.7-0.5v83.7h-18.5l-14.5-12v54.4l14.5-12h18.5v72l-17.7-9.4l31.7,75.1l31.7-75.1l-17.7,9.4v-72h18.5l14.5,12 v-54.4l-14.5,12h-18.5v-83.7c2.7,0.1,12.4,0.5,29.3,0.5c20,0,59,0.5,73.5,4.5s34.9,12.6,51,28c11.2,10.7,18.5,20.5,20,18 C453.3,284.2,449.8,276.7,445.8,269.2z M265.6,85.7c29.3,0,53,23.7,53,53c0,29.3-23.7,53-53,53c-29.3,0-53-23.7-53-53 C212.6,109.4,236.3,85.7,265.6,85.7z'/%3E%3C/svg%3E"); padding-left:0.5rem;}

</style>

<Layout {title} {description}>
  <section>
        <Breadcrumbs title={title}/>
        <h1>{title}</h1>
        <p class="description">{description}</p>
        <p>Prince Rogers Nelson, better known as Prince, was an Black American singer-songwriter, musician, actor, and record producer. He's also one of the greatest musicians the world has ever known. This page features articles from myself and others about Prince's genius.</p>
        <h2 class="wiki-h2">Inner voice</h2>
        <Tags tagName="Prince" className="prince-purple"/>
        <h2 class="wiki-h2">Out loud</h2>
        <ul>
          <li><a href="https://sampleface.co.uk/tag/prince/">Prince on Sampleface</a></li>
          <li><a href="https://cultrface.co.uk/tag/prince/">Prince on Cultrface</a></li>
        </ul>
        <h2 class="wiki-h2">Second opinions</h2>
        <p>Coming soon...</p>
  </section>
</Layout>