---
// COMPONENTS

import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import ButtonsComponent from '../components/ButtonsComponent.astro';

// METADATA VARIABLES

let title = 'Buttons';
let description = 'A page full of my favourite 88x31 web buttons.';
let canonicalURL = Astro.url;

---

<style>
  .buttons {
    line-height: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 0.5rem;
    image-rendering: pixelated;
    margin-bottom: 2rem;
  }
</style>

<BaseHead title={title} description={description} canonicalURL={canonicalURL} />
<body>
<main class="layout">
  <article class="content">
    <Header />
      <h1>{title}</h1>
      <p>{description} 88×31 buttons from <a href="https://yesterweb.org/graphics/buttons">yesterweb.org</a>, <a href="https://lmnt.me/badges/">lmnt.me</a>, <a href="https://capstasher.neocities.org/88x31collection-page1">capstasher.neocities.org</a> and various Tumblrs.</p>
      <section class="buttons">
        <ButtonsComponent />
      </section>
      <section>
        <h2>Banners</h2>
        <div class="buttons">
        <a href="https://www.tumblr.com/glittergroovy/740521754591674368/noikaido309-blinkies-dump-that-i-made-for-my"><img src="/images/daft-punk.webp" alt="a daft punk animated banner with a rainbow gradient flashing from left to right" width="600" height="80" fetchpriority="high"></a>
        <a href="https://myblinkie.holidaycomments.com/view/pre-made-blinkies/youve-got-mail.gif.php"><img src="/images/youve-got-mail.gif" alt="a yellow figure as a postman holding a letter with a blinking text next to him that says you've got mail" style="image-rendering: pixelated" width="223" height="93"></a>
      </div>
      </section>
      </article>
    </main>
  <Footer />
</body>
</html>