---
// COMPONENTS

import Games from '../layouts/Gameslist.astro';
import gamelog from '../data/gamelog.json';
import GameSD from '../components/GameSD.astro';

// METADATA VARIABLES

let title = 'Gameslist';
let description = "A log of all the games I've been playing.";
let currentYear = new Date().getFullYear().toString();
---

<Games title={title} description={description} stylesheetURL="games.css">
	<div class="container">
		<nav class="games__nav">
				<ul class="games__nav-links">
					<li><a href="/">← Back</a></li>
					<li><a href="https://github.com/starchildluke/astro/blob/a89f0d9e323183dd7ac4c893aeaff735cc9618fd/src/data/gamelog.json">JSON data on GitHub</a></li>
				</ul>
		</nav>
		<div class="games-meta">
			<h1>{title}</h1>
			<p>{description}</p>
			<p>Here's my list from <a href="/posts/16-games-completed-2025/">2025</a></p>
		</div>
		<div class="games-meta">
			<p id="filter-text">Filter by</p>
			<div class="filter-list">
				<button class="games-filter" data-filter="playing">
					<span id="play-symbol">▶︎ </span>
					<span>Playing</span>
				</button>
				<button class="games-filter" data-filter="sunsetted">
					<span id="pause-symbol">⏸︎ </span>
					<span>Paused</span>
				</button>
				<button class="games-filter" data-filter="completed">
					<span id="eject-symbol">⏏︎ </span>
					<span>Completed</span>
				</button>
				<button class="games-filter" data-filter="clear">
					<span id="clear">Clear filter</span>
				</button>
			</div>
		</div>
		<h2>2026</h2>
		<div class="games-grid">
          {gamelog.filter(
          	game => game.status !== "Completed" || game.dateBeaten.includes(currentYear)
          	).sort((a, b) => a.name.localeCompare(b.name)).map((game) => (
          <div class="data" id={game.status.replace(' ', '-').toLowerCase()}>
          	<div class="games-img__section">
          	<div class="games-img">
          		<img src={game.imageURL ? game.imageURL : '/images/coming-soon.webp'} width="250" height="250" loading="eager" alt=`cover art for ${game.name} for the ${game.console}`>
          	</div>
          </div>
          	<div class="games-text">
	          	<p class="game-name">{game.name}</p>
          </div>
          </div>
          ))}
          </div>
		<GameSD />
		<script>
			const buttons = document.querySelectorAll('.games-filter');
			const games = document.querySelectorAll('#playing, #actually-playing, #sunsetted, #completed');

			buttons.forEach(button => {
			  button.addEventListener('click', () => {
			    const filter = button.getAttribute('data-filter');

			    games.forEach(game => {
			      const category = game.getAttribute('id');

			      if (filter === "clear" || filter === category) {
			        game.style.display = 'block';
			      } else {
			        game.style.display = 'none';
			      }
			    });
			  });
			});
		</script>
		</Games>