---
// COMPONENTS

import Games from '../layouts/Gameslist.astro';
import gamelog from '../data/gamelog.json';

// METADATA VARIABLES

let title = 'My Gameslist';
let description = "A list of games I'm currently playing or have already completed.";
---

<style>

	:root {
		--shadow-color: 206deg 100% 11%;
	}
	
	body {
		text-align: center;
		background: #004e89;
		color: #efefd0;
	}

	a {
		color: #F7C59F;
		font-weight: 700;
	}

	.games-meta {
		margin-bottom: 2rem;
	}

	.games-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, auto));
		grid-row-gap: 2rem;
		grid-column-gap: 2rem;
		justify-content: center;
		justify-items: center;
		margin-bottom: 4rem;
	}

	.games-img {
		border-bottom: 5px double white;
	}

	.container {
		display: grid;
		margin: 2rem;
	}

	.data :is(img,.games-text) {
		padding: 2rem;
	}

	.data {
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
		max-width: 250px;
		background: #1a659e;
		border-radius: 10px;
		box-shadow: 0.5px 0.5px 0.8px hsl(var(--shadow-color) / 0.36), 1.4px 1.4px 2.2px -0.6px hsl(var(--shadow-color) / 0.36), 2.7px 2.9px 4.5px -1.2px hsl(var(--shadow-color) / 0.36), 5.6px 5.8px 9.1px -1.9px hsl(var(--shadow-color) / 0.36), 10.8px 11.3px 17.6px -2.5px hsl(var(--shadow-color) / 0.36);
	}

	.data :is(h3, p)  {
		text-align: left;
	}

	.data p {
		padding-bottom: 0;
	}


</style>

<Games title={title} description={description} />
	<div class="container">
		<div class="games-meta">
			<h1>{title}</h1>
			<p>{description}</p>
			<p>Please note: this is a work in progress so the design may change.</p>
			<p><a href="/">Go back home</a></p>
		</div>
		<h2>Actively playing</h2>
		<div class="games-grid">
          {gamelog.filter(game => game.status === "Actively playing").map((game) => (
          <div class="data">
          	<div class="games-img">
          		<img src={game.imageMetadata[0].imageThumbnailURL ? game.imageMetadata[0].imageThumbnailURL : '/images/coming-soon.webp'} width={game.imageMetadata[0].thumbnailDimensions.width} height={game.imageMetadata[0].thumbnailDimensions.height} loading={game.imageMetadata[0].loading}>
          	</div>
          	<div class="games-text">
	          	<h3>{game.name}</h3>
	          	<p><strong>Developer</strong>: {game.developer}</p>
	          	<p><strong>Publisher</strong>: {game.publisher}</p>
	          	<p><strong>Genre</strong>: {game.genre}</p>
	          	<p><strong>Console</strong>: {game.console}</p>
          	</div>
          </div>
          ))}
          </div>
         <h2>Passively playing</h2>
         <div class="games-grid">
          {gamelog.filter(game => game.status === "Passively playing").map((game) => (
          <div class="data">
          	<div class="games-img">
          		<img src={game.imageMetadata[0].imageThumbnailURL ? game.imageMetadata[0].imageThumbnailURL : '/images/coming-soon.webp'} width={game.imageMetadata[0].thumbnailDimensions.width} height={game.imageMetadata[0].thumbnailDimensions.height} loading={game.imageMetadata[0].loading}>
          	</div>
          	<div class="games-text">
	          	<h3>{game.name}</h3>
	          	<p><strong>Developer</strong>: {game.developer}</p>
	          	<p><strong>Publisher</strong>: {game.publisher}</p>
	          	<p><strong>Genre</strong>: {game.genre}</p>
	          	<p><strong>Console</strong>: {game.console}</p>
          	</div>
          </div>
          ))}
          </div>
          <h2>Completed it, mate!</h2>
		<div class="games-grid">
          {gamelog.filter(game => game.completed === "Yes").map((game) => (
          <div class="data">
          	<div class="games-img">
          		<img src={game.imageMetadata[0].imageThumbnailURL ? game.imageMetadata[0].imageThumbnailURL : '/images/coming-soon.webp'} width={game.imageMetadata[0].thumbnailDimensions.width} height={game.imageMetadata[0].thumbnailDimensions.height} loading={game.imageMetadata[0].loading}>
          	</div>
          	<div class="games-text">
	          	<h3>{game.name}</h3>
	          	<p><strong>Developer</strong>: {game.developer}</p>
	          	<p><strong>Publisher</strong>: {game.publisher}</p>
	          	<p><strong>Genre</strong>: {game.genre}</p>
	          	<p><strong>Console</strong>: {game.console}</p>
          	</div>
          </div>
          ))}
          </div>
		</div>
		</Games>