---
// COMPONENTS

import Games from '../layouts/Gameslist.astro';
import gamelog from '../data/gamelog.json';
import GameSD from '../components/GameSD.astro';
import GamesComponent from '../components/GamesComponent.astro';

// METADATA VARIABLES

let title = 'My Gameslist';
let description = "A list of games I'm currently playing or have already completed.";
let currentYear = new Date().getFullYear().toString();
---

<style>

	:root {
		--shadow-color: 206deg 100% 11%;
	}
	
	body {
		text-align: center;
		background: #004e89;
		color: #efefd0;
	}

	a {
		color: #F7C59F;
		font-weight: 700;
	}

	h2, h3 {
		color: #efefd0;
	}

	.filter-list {
		display: flex;
		flex-wrap: wrap;
		padding: 0;
		justify-content: center;
		align-items: center;
		list-style: none;
		gap: 2rem;
	}

	.filter-list button {
		font-size: 1.25rem;
		padding: 1rem;
		border-radius: 0.5rem;
		width: 10rem;
	}

	.games-meta {
		margin-bottom: 2rem;
	}

	.games-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, auto));
		grid-row-gap: 2rem;
		grid-column-gap: 1rem;
		justify-content: center;
		justify-items: center;
		margin-bottom: 4rem;
	}

	.container {
		display: grid;
		margin: 2rem;
	}

	.games-img {
		height: 200px;
		padding-block-start: 1rem;
		padding-inline: 1rem 1rem;
	}

	img {
		object-fit: contain;
	}

	.data {
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
		justify-content: center;
		max-width: 200px;
		background: #1a659e;
		border-radius: 10px;
		box-shadow: 0.5px 0.5px 0.8px hsl(var(--shadow-color) / 0.36), 1.4px 1.4px 2.2px -0.6px hsl(var(--shadow-color) / 0.36), 2.7px 2.9px 4.5px -1.2px hsl(var(--shadow-color) / 0.36), 5.6px 5.8px 9.1px -1.9px hsl(var(--shadow-color) / 0.36), 10.8px 11.3px 17.6px -2.5px hsl(var(--shadow-color) / 0.36);
	}

	.data p {
		padding-bottom: 0;
	}

	.game-name {
		font-family: 'DM Serif Display', "Arial Black", sans-serif;
		font-size: 1.5rem;
  		line-height: 1;
	}

	.games-text {
		padding: 0.5rem 1rem 1rem 1rem;
	}

	.games-below {
		display: flex;
		flex-direction: column;
		padding: 0 1rem 1rem;
	}

	hr {
		border: none;
		width: 100%;
		display: flex;
		justify-content: center;
		padding-top: 1rem;
	}

	hr#completed::before {
		content: '✓';
		font-weight: 900;
		font-size: 2rem;
		color: gold;
	}

	hr#sunsetted::before {
		content: '⏾';
		color: #fff;
		font-size: 2rem;
	}

	hr#playing::before, hr#actually-playing::before {
		content: '🎮';
		color: #fff;
		font-size: 2rem;
	}

</style>

<Games title={title} description={description} />
	<div class="container">
		<div class="games-meta">
			<h1>{title}</h1>
			<p>{description}</p>
			<p>🎮 means I'm currently playing it. ⏾ means I haven't played it for a while. <span style="font-weight: 900;color: gold;">✓</span> means I completed.</p>
			<p>Please note: this is a work in progress so the design may change.</p>
			<p><a href="/">Go back home</a></p>
		</div>
		<div class="games-meta">
			<p>Filter:</p>
			<div class="filter-list">
				<button class="games-filter" data-filter="show-all">Show all</li>
				<button class="games-filter" data-filter="playing" >🎮</li>
				<button class="games-filter" data-filter="sunsetted">⏾</li>
				<button class="games-filter" data-filter="completed"><strong>✓</strong></li>
			</div>
		</div>
		<h2>2026</h3>
		<div class="games-grid">
          {gamelog.filter(
          	game => game.status !== "Completed" || game.dateBeaten.includes(currentYear)
          	).sort((a, b) => a.name.localeCompare(b.name)).map((game) => (
          <div class="data" id={game.status.replace(' ', '-').toLowerCase()}>
          	<div class="games-img">
          		<img src={game.imageURL ? game.imageURL : '/images/coming-soon.webp'} width="200" height="200" loading="eager" alt=`cover art for ${game.name} for the ${game.console}`>
          	</div>
          	<div class="games-below">
          	<hr id={game.status.replace(' ', '-').toLowerCase()} >
          	<div class="games-text">
	          	<span class="game-name">{game.name}</span>
          	</div>
          </div>
          </div>
          ))}
          </div>
          <h2>2025</h2>
          <details>
          	<summary>Reveal the secrets!</summary>
          	<br />
		<div class="games-grid">
          <GamesComponent year="2025"/>
          </div>
      </details>
		</div>
		<GameSD />
		<script>
			const buttons = document.querySelectorAll('.games-filter');
			const games = document.querySelectorAll('#playing, #actually-playing, #sunsetted, #completed');

			buttons.forEach(button => {
			  button.addEventListener('click', () => {
			    const filter = button.getAttribute('data-filter');

			    games.forEach(game => {
			      const category = game.getAttribute('id');

			      if (filter === "show-all" || filter === category) {
			        game.style.display = 'block';
			      } else {
			        game.style.display = 'none';
			      }
			    });
			  });
			});
		</script>
		</Games>