---
// COMPONENTS

import { Markdown } from 'astro/components';
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import BlogFooter from '../components/BlogFooter.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro';
import Sitemapper from 'sitemapper';

// EXPORT

export interface Props {
  post: any;
  metaTitle: string;
  title: string;
  slug: string;
  description: string;
  domain: string;
}

const sitemap = new Sitemapper();

const sitemapURLs = await sitemap.fetch('https://lukealexdavis.co.uk/sitemap.xml');

// PROPS

const { post } = Astro.props;

// METADATA VARIABLES

let metaTitle = ' | Luke Davis';
let title = 'HTML Sitemap';
let description = 'This is a HTML sitemap for this site.';
let canonicalURL = Astro.canonicalURL.href;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} canonicalURL={canonicalURL} />

    <style>
      .content{margin-bottom:8rem;}.content:global(main>*+*){margin-top:1rem;}.intro{padding-bottom:1.4rem;}.intro>*{margin:0;}.latest{font-size:2.5rem;font-weight:700;}
    </style>
  </head>
<body>
  <BlogHeader />
   <div class="layout">
      <article class="content">
        <section class="intro">
          <h1>{title}</h1>
        </section>
        <section>
          <ul>
      {sitemapURLs.sites.map(( url ) => (
                  <li class="post-preview wiki-listing post-list">
                    <a href={url}>{url}</a>
                  </li>
                ))}
    </ul>
    </section>
      </article>
          </div>
           <BlogFooter></BlogFooter>
  </body>
</html>