---
// COMPONENTS

import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Sitemapper from 'sitemapper';

// EXPORT

export interface Props {
  post: any;
  metaTitle: string;
  title: string;
  slug: string;
  description: string;
  domain: string;
}

const sitemap = new Sitemapper();

const sitemapURLs = await sitemap.fetch('https://lukealexdavis.co.uk/sitemap-0.xml');

// PROPS

const { post } = Astro.props;

// METADATA VARIABLES

let metaTitle = ' | Luke Davis';
let title = 'HTML Sitemap';
let description = 'This is a HTML sitemap for this site.';
let canonicalURL = Astro.url;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} canonicalURL={canonicalURL} />
  </head>
<body>
  <Header />
   <main class="layout">
      <article class="content">
          <h1>{title}</h1>
          <ul>
      {sitemapURLs.sites.map(( url ) => (
                  <li class="post-preview wiki-listing post-list">
                    <a href={url}>{url}</a>
                  </li>
                ))}
    </ul>
      </article>
          </main>
           <Footer/>
  </body>
</html>