---
// COMPONENTS

import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import AlbumsStructuredData from '../components/AlbumsStructuredData.astro';
import albums from '../data/albums.json'

// EXPORT

export interface Props {
  title: string;
  description: string;
}

// METADATA VARIABLES

let title = 'Important albums';
let description = 'A list of my important albums in my life.';
let canonicalURL = Astro.url;
---

<BaseHead title={title} description={description} canonicalURL={canonicalURL} />
<body>
  <Header />
    <main class="layout">
      <article class="content">
        <h1>{title}</h1>
        <p>This is a list of all the important albums I've listened to in my life. They've saved me, inspired me, given me life, made me think, laugh, smile, cry, and everything in between.</p>
        <table>
          <thead>
            <tr>
              <th>Artist</th>
              <th>Album</th>
              <th>Release Date</th>
              <th>Why it's important</th>
            </tr>
          </thead>
          {albums.albums.map((item) => (
          <tr>
            <td>{item.artist}</td>
            <td>{item.album}</td>
            <td>{item.release_date}</td>
            <td>{item.importance}</td>
          </tr>
          ))}
        </table>
      </article>
    </main>
    <AlbumsStructuredData />
      <Footer/>
      </body>
    </html>