---
// COMPONENTS
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import CurrentlyListening from '../components/CurrentlyListening.astro';
import Pokeballs from '../components/Pokeballs.astro';
import Latest from '../components/Latest.astro';
import sd from '../data/sd.json';

// METADATA VARIABLES
let metaTitle = 'Luke Davis: technical SEO, music producer & creator';
let title = 'Luke Davis';
let description = 'The digital home of Luke Davis: a senior technical SEO, music producer, and blogger based in the UK.';
let greetings = ['<span lang="pt">bom dia!</span>', '<span lang="pt">boa tarde!</span>', '<span lang="pt">boa noite!</span>', '<span lang="es">¡buenos dias!</span>', '<span lang="es">¡buenos tardes!</span>', '<span lang="es">¡buenos noches!</span>', '<span lang="es">hola!</span>', '<span lang="pt">ola!</span>', 'good morning!</span>', 'good afternoon!</span>', 'good evening!</span>', '<span lang="fr">bonjour!</span>', '<span lang="fr">bonsoir!</span>'];
let sayHello = greetings[Math.floor(Math.random()*greetings.length)];
---

<style>

  h2 ul li {
    margin-bottom: 2rem;
  }

  ul {
    margin-bottom: 0;
  }

  .layout {
    grid-template-columns: minmax(0.5rem,1fr) minmax(0.5rem,var(--max-width-home)) minmax(0.5rem,1fr);
  }

  @media only screen and (max-width:800px) {
    .layout > article {
      grid-column: 1;
      margin: 0 2rem;
    }
  }

  #welcome {
    font-family: DM Serif Display, Times New Roman, serif;
    font-size: 3.5rem;
  }

  .tagline {
    font-size: 2rem;
    font-weight: 450;
    line-height: 1.4;
  }

  .home-middle {
    text-align: center;
  }

</style>

<BaseHead title={metaTitle} description={description} />
<body>
  <main class="layout">
    <article class="content">
      <Header title={title} />
      <section class="home-middle">
        <p id="welcome">
          <span id="hello"><Fragment set:html={sayHello}></span>
        </p>
        <p class="tagline">I'm a senior technical SEO specialist, music producer, and blogger based in Nottingham, UK.</p>
      </section>
      <Pokeballs />
      <Latest />
      <Pokeballs />
      <CurrentlyListening />
    </article>
  </main>
  <Footer/>
    <script type="application/ld+json" set:html={JSON.stringify(sd)}></script>
  </body>
</html>