---
// COMPONENTS

import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

// METADATA VARIABLES

let metaTitle = 'Luke Davis: technical SEO, music producer & creator';
let title = 'Luke Davis';
let description = 'The digital home of Luke Davis: a technical SEO, music producer, and content creator based in Nottingham, UK.';
let greetings = ['bom dia!', 'boa tarde!', 'boa noite!', '¡buenos dias!', '¡buenos tardes!', '¡buenos noches!', 'hola!', 'ola!', 'good morning!', 'good afternoon!', 'good evening!', 'bonjour!', 'bonsoir!'];
let sayHello = greetings[Math.floor(Math.random()*greetings.length)];
let canonicalURL = Astro.url;

---
<html lang="en-GB">
  <head>
    <BaseHead title={metaTitle} description={description} canonicalURL={canonicalURL} />
  </head>
  <body>
    <Header />
    <main class="layout">
      <article class="content">
        <section class="home-intro">
          <h1>{title}</h1>
          <p style="font-family:Georgia;"><em><span id="hello">{sayHello}</span> and welcome to my corner of the world wide web.</em></p>
        </section>
        <section class="home-middle">
      <p>I'm a senior technical SEO specialist, music producer, and blogger based in Nottingham, UK. I specialise in technical creativity and problem solving with a pragmatic approach.</p>
      <p>I currently work for <a href="https://www.impressiondigital.com/">Impression</a> and I'm also the founder of <a href="https://pandog.media">Pandog Media</a>, the home of <a href="https://sampleface.co.uk">Sampleface</a>, <a href="https://cultrface.co.uk">Cultrface</a>, <a href="https://logicface.co.uk">LOGiCFACE</a>, <a href="https://playrface.co.uk">Playrface</a>, and <a href="https://distantarcade.co.uk">Distant Arcade</a>.</p>
      </section>
      <h2>Want to find out more?</h2>
      <p><a href="mailto:luke@lukealexdavis.co.uk">Send an email</a>, read <a href="/about/">my about page</a>, or find out how you can <a href="/support/">support me</a>.</p>
      <p>Smell ya later!</p>
      </article>
    </main>
    <Footer/>
    <script type="application/ld+json">
{
  "@context":"https://schema.org",
  "@type":"Person",
  "mainEntityOfPage": "https://lukealexdavis.co.uk",
  "description":"I'm a technical SEO, music producer, advocate for ethical AI, and content creator based in Nottingham, UK. I specialise in technical creativity and problem solving with a pragmatic approach.",
  "image":["https://lukealexdavis.co.uk/images/k5t2wVcf-Luke-Davis-640x600.png","https://lukealexdavis.co.uk/images/lukedavis_jpg.jpg"],
  "url":"https://lukealexdavis.co.uk",
  "sameAs":["https://uk.linkedin.com/in/lukealexdavis", "https://bsky.app/profile/lukealexdavis.co.uk", "https://www.instagram.com/lukealexdavis/", "https://www.impressiondigital.com/about/our-team/luke-davis/", "https://www.searchenginejournal.com/author/luke-davis/", "https://www.semrush.com/user/147747585/", "https://www.adzooma.com/blog/author/lukedavis/", "https://www.patreon.com/lukealexdavis", "https://lukealexdavis.contently.com/", "https://ko-fi.com/lklxdvs"],
  "subjectOf":["https://ccnworldtech.com/seo-interview-luke-davis/", "https://bytraject.com/blog/experimenting-with-seo-luke-davis/", "https://page2podcast.fm/episodes/45-luke-davis", "https://www.impressiondigital.com/resources/podcasts/technical-seo-automation-rankup-with-luke-davis/", "https://marketersofcolour.com/experimenting-with-seo-on-the-b-sides-with-luke-davis/", "https://www.cmdncmds.com/authors/luke-alex-davis/", "https://www.youtube.com/watch?v=kpVi10kJ1Do"],
  "alternateName":["Luke Davis", "Luke Alex Davis"],
  "name":"Luke Davis",
  "familyName":"Davis",
  "givenName":"Luke",
  "jobTitle":"Senior Technical SEO Specialist",
  "gender":"Male",
  "birthPlace":{
    "@type":"City",
    "address":
      {"@type":
      "PostalAddress","addressLocality":"Bradford","addressCountry":"United Kingdom"}}, 
 "nationality":{"@type":"Country","name":"United Kingdom"},
 "worksFor":{"@type":"Organization", "name":"Impression","url":"https://www.impressiondigital.com/"},
     "knowsAbout": [{
       "type": "Thing",
       "name": "SEO",
       "sameas": "https://www.wikidata.org/wiki/Q180711",
       "description": "The practice of increasing online visibility on search engine results pages.",
       "alternatename": "Search Engine Optimization"
     },
     {
       "type": "Thing",
       "name": "Pokémon",
       "sameas": "https://www.wikidata.org/wiki/Q864",
       "description": "Pokémon is a Japanese media franchise managed by The Pokémon Company, founded by Nintendo, Game Freak, and Creatures. The franchise was created by Satoshi Tajiri in 1996, and is centered around fictional creatures called 'Pokémon'.",
       "alternatename": ["Pokemon", "Pocket Monsters"]
     },
     {
       "type": "Thing",
       "name": "Python",
       "sameas": ["https://www.wikidata.org/wiki/Q28865", "https://www.python.org/"],
       "description": "Python is a programming language that lets you work quickly and integrate systems more effectively."
     }
   ]
   }
 </script>
  </body>
</html>
