---
// COMPONENTS

import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import StarRating from '../components/StarRating.astro';
import Letterboxd from '../components/Letterboxd.astro';
import boxd_2025 from '../data/2025_letterboxd_diary.json';
import boxd_2024 from '../data/2024_letterboxd_diary.json';
import boxd_2023 from '../data/2023_letterboxd_diary.json';
import boxd_2022 from '../data/2022_letterboxd_diary.json';
import boxd_2021 from '../data/2021_letterboxd_diary.json';
import boxd_2020 from '../data/2020_letterboxd_diary.json';
import boxd_2019 from '../data/2019_letterboxd_diary.json';
import boxd_2018 from '../data/2018_letterboxd_diary.json';

// METADATA VARIABLES

let title = 'My Letterboxd Diaries';
let description = 'All the movies I\'ve watched and logged since my Letterboxd account started (excluding historic logs)';
let canonicalURL = Astro.url;

---
<html lang="en">
  <head>
    <BaseHead title={title} description={description} canonicalURL={canonicalURL} />
  </head>
  <body>
    <Header />
    <main class="layout">
      <article class="content">
        <h1>{title}</h1>
        <p>This page is dedicated to all the films I've watched since 2018. It shows their genres, their year of release, my rating, and when I watched them. I thought it'd be cool to display this data on the site for readers to see and get an idea of my taste in movies. Plus, it's a fun way for me to look back on all the films I've enjoyed (and not enjoyed) over the years.</p>
        <h2 id="2025">2025</h2>
        Coming soon...
        <br><br>
        <!-- <Letterboxd boxdYear={boxd_2024} /> -->
        <h2 id="2024">2024</h2>
        <details>
        <summary>Reveal 2024 table</summary>
          <Letterboxd boxdYear={boxd_2024} />
        </details>
        <h2 id="2023">2023</h2>
        <details>
        <summary>Reveal 2023 table</summary>
          <Letterboxd boxdYear={boxd_2023} />
        </details>
        <h2 id="2022">2022</h2>
        <details>
        <summary>Reveal 2022 table</summary>
          <Letterboxd boxdYear={boxd_2022} />
        </details>
        <h2 id="2021">2021</h2>
        <details>
        <summary>Reveal 2021 table</summary>
          <Letterboxd boxdYear={boxd_2021} />
        </details>
        <h2 id="2020">2020</h2>
        <details>
        <summary>Reveal 2020 table</summary>
          <Letterboxd boxdYear={boxd_2020} />
        </details>
        <h2 id="2019">2019</h2>
        <details>
        <summary>Reveal 2019 table</summary>
          <Letterboxd boxdYear={boxd_2019} />
        </details>
        <h2 id="2018">2018</h2>
        <details>
        <summary>Reveal 2018 table</summary>
          <Letterboxd boxdYear={boxd_2018} />
        </details>
      </article>
    </main>
    <Footer/>
  </body>
</html>