---
// COMPONENTS

import Header from '../../../components/Header.astro';
import Footer from '../../../components/Footer.astro';
import Layout from '../../../layouts/Layout.astro';
import Breadcrumbs from '../../../components/Breadcrumbs.astro';
import Tags from '../../../components/Tags.astro';

// const remoteData = await fetch('https://playrface.co.uk/wp-json/wp/v2/posts?per_page=5').then(response => response.json());

let title = 'Sport';
let description = "A page all about sport.";

---
<Layout {title} {description}>
    <main class="layout">
      <article class="content">
        <Header />
      <Breadcrumbs title={title}/>
        <h1>{title}</h1>
        <p class="desc">{description}</p>
        <p>Sport has the ability to immerse you as if you're the one playing, and I love that. No matter how I feel about specific sports or matches now, every sporting discipline I've watched has had some kind of effect on me and shaped how I see other games and sometimes my own life.</p>
        <p><strong>Related</strong>: <a href="/jardim/sport/roger-federer/"><strong>Roger Federer</strong></a></p>
        <h2 class="wiki-h2">Inner voice</h2>
        <Tags tagName="sport" />
        <h2 class="wiki-h2">Out loud</h2>
        <p><a href="https://playrface.co.uk/">Read more on Playrface</a></p>
        <h2 class="wiki-h2">Second opinions</h2>
        <ul>
          <li><a href="https://moesquare.medium.com/football-flashbacks-ronaldo-lu%C3%ADs-naz%C3%A1rio-de-lima-bebee6134d1c">Football Flashbacks: Ronaldo Luís Nazário de Lima</a></li>
        </ul>
      </article>
      
    </main>
    <Footer/>
  </body>
</html>