---
// COMPONENTS

import Header from '../../../components/Header.astro';
import Footer from '../../../components/Footer.astro';
import Layout from '../../../layouts/Layout.astro';
import Breadcrumbs from '../../../components/Breadcrumbs.astro';
import Tags from '../../../components/Tags.astro';

// HOW FETCHING!

// const remoteData = await fetch('https://playrface.co.uk/wp-json/wp/v2/posts?tags=62&per_page=5').then(response => response.json());

// METADATA VARIABLES

let title = 'Roger Federer';
let description = "A wiki page all about Roger Federer.";
---
<Layout {title} {description}>
<main class="layout">
  <article class="content">
    <Header />
    <Breadcrumbs title={title}/>
    <h1>{title}</h1>
    <p class="desc">{description}</p>
    <p>Roger Federer is a Swiss former professional tennis player. He is also my favourite athlete of all time and my pick for the male tennis GOAT.</p>
    <h2 class="wiki-h2">Inner voice</h2>
    <Tags tagName="Roger Federer" />
    <h2 class="wiki-h2">Out loud</h2>
    <p><a href="https://playrface.co.uk/tag/roger-federer/">Roger Federer on Playrface</a></p>
    <h2>Second opinions</h2>
    <h3 id="2001">2001</h3>
    <ul>
      <li><a href="https://www.theguardian.com/sport/2001/jul/02/tennis.wimbledon2001">Sampras stunned by Federer</a></li>
      <li><a href="https://www.theguardian.com/sport/2001/jul/02/tennis4">Who is Roger Federer?</a></li>
    </ul>
    <h3 id="2003">2003</h3>
    <ul>
      <li><a href="https://www.theguardian.com/sport/2003/jun/16/wimbledon2003.tennis18">Roger Federer</a></li>
      <li><a href="https://www.theguardian.com/sport/2003/jun/16/tennis2">Federer lays out his grass credentials</a></li>
      <li><a href="https://www.theguardian.com/sport/2003/jul/05/wimbledon2003.tennis2">Federer in place to realise his destiny</a></li>
      <li><a href="https://www.theguardian.com/sport/2003/jul/06/wimbledon2003.tennis2">Federer&#39;s fiery genius</a></li>
      <li><a href="https://www.theguardian.com/sport/2003/jul/06/wimbledon2003.tennis">Philippoussis v Federer: as it happened</a></li>
      <li><a href="https://www.theguardian.com/sport/2003/jul/06/wimbledon2003.tennis13">Federer&#39;s future begins in SW19</a></li>
      <li><a href="https://www.theguardian.com/sport/2003/jul/07/wimbledon2003.tennis2">Federer finds steel to galvanise his skill</a></li>
      <li><a href="https://www.theguardian.com/sport/2003/jul/07/wimbledon2003.tennis4">Federer adds colour to canvas</a></li>
      <li><a href="https://www.theguardian.com/sport/2003/jul/08/tennis.wimbledon2003">Serve-volley dead? No one told Federer</a></li>
    </ul>
    <h3 id="2004">2004</h3>
    <ul>
      <li><a href="https://www.theguardian.com/sport/2004/feb/02/tennis.australianopen2004">Tennis: Federer wins Australian Open</a></li>
      <li><a href="https://www.theguardian.com/sport/2004/jun/17/wimbledon2004.wimbledon11">Roger Federer</a></li>
      <li><a href="https://www.theguardian.com/sport/2004/jul/05/wimbledon2004.wimbledon5">Federer shows grit in his genius to retain the crown</a></li>
      <li><a href="https://www.theguardian.com/sport/2004/jul/05/wimbledon2004.wimbledon9">Relieved Federer reigns again in the rain</a></li>
      <li><a href="https://www.theguardian.com/sport/2004/jul/06/wimbledon2004.wimbledon">Roger Federer - truly a champions&#39; champion</a></li>
      <li><a href="https://www.theguardian.com/sport/2004/sep/13/tennis.usopentennis20044">Tennis: Federer wins US Open</a></li>
      <li><a href="https://www.theguardian.com/sport/2004/sep/14/tennis.comment">Tennis: US Open: Federer has world playing catch-up</a></li>
      <li><a href="https://www.theguardian.com/sport/2004/nov/22/tennis">Federer is master of the world</a></li>
    </ul>
    <h3 id="2005">2005</h3>
    <ul>
      <li><a href="https://www.theguardian.com/sport/2005/apr/04/tennis">Tennis: Federer the ultimate master</a></li>
      <li><a href="https://www.theguardian.com/sport/2005/jul/03/tennis.wimbledon2005">Federer - the best there&#39;s every(sic) been?</a></li>
      <li><a href="https://www.theguardian.com/sport/2005/sep/13/tennis.usopentennis2005">Federer beats Agassi to claim US crown</a></li>
    </ul>
    <h3 id="2006">2006</h3>
    <ul>
      <li><a href="https://www.theguardian.com/sport/2006/jan/29/tennis.australianopen20061">Federer adds to grand slam tally</a></li>
      <li><a href="https://www.theguardian.com/sport/2006/mar/06/tennis.gdnsport3">Tennis: Nadal emerges as Federer&#39;s nemesis in new world order</a></li>
      <li><a href="https://www.theguardian.com/sport/2006/jun/21/tennis.comment">Tennis: Is Roger Federer the greatest of all time?</a></li>
      <li><a href="https://www.theguardian.com/sport/2006/jun/27/tennis.wimbledon20062">Michael Stich: I reckon I&#39;d have beaten Federer on grass. Now no one has the right game</a></li>
      <li><a href="https://www.theguardian.com/sport/2006/jul/10/wimbledon2006.wimbledon2">Classic Wimbledon report: Federer takes fourth consecutive crown</a></li>
      <li><a href="https://www.theguardian.com/sport/2006/jul/11/tennis.wimbledon20061">Tennis: Coach says Federer has rival to be relished</a></li>
      <li><a href="https://www.theguardian.com/sport/2006/oct/22/tennis.jonhenderson">Tennis: Federer rules again</a></li>
      <li><a href="https://www.theguardian.com/sport/2006/oct/23/tennis.gdnsport3">Tennis: Ruthless Federer takes 10th title</a></li>
    </ul>
    <h3 id="2007">2007</h3>
    <ul>
      <li><a href="https://www.theguardian.com/sport/2007/feb/26/tennis.gdnsport3">Tennis: Federer&#39;s latest record another mark of greatness</a></li>
      <li><a href="https://www.theguardian.com/sport/2007/may/03/tennis.sport">Tennis: Nadal claims Federer scalp in battle of the surfaces</a></li>
      <li><a href="https://www.theguardian.com/sport/2007/jul/08/tennis.wimbledon7">Wimbledon: Roger Federer beats Rafael Nadal to win the men&#39;s singles final</a></li>
      <li><a href="https://www.theguardian.com/sport/2007/jul/08/tennis.wimbledon8">Wimbledon: Roger Federer says luck helped him beat Rafael Nadal</a></li>
      <li><a href="https://www.theguardian.com/sport/2007/sep/10/tennis.usopentennis20071">Tennis: Federer storms to 12th grand slam in style</a></li>
    </ul>
    <h3 id="2008">2008</h3>
    <ul>
      <li><a href="https://www.theguardian.com/sport/2008/jul/07/wimbledon.tennis3">Wimbledon: Nadal triumphs in historic final as Federer&#39;s dream ends</a></li>
      <li><a href="https://www.theguardian.com/sport/2008/sep/09/usopentennis.andymurray">Tennis: Andy Murray blown away as Roger Federer claims 13th major</a></li>
    </ul>
    <h3 id="2009">2009</h3>
    <ul>
      <li><a href="https://www.theguardian.com/sport/2009/jun/07/roger-federer-wins-french-open">Roger Federer beats Robin Soderling to win French Open tennis</a></li>
      <li><a href="https://www.theguardian.com/sport/gallery/2009/jun/07/federer-tennis">Tennis: Roger Federer&#39;s 14 grand slams</a></li>
      <li><a href="https://www.theguardian.com/sport/2009/jul/05/roger-federer-wimbledon-final-andy-roddick">Roger Federer seals place in history with epic victory over Andy Roddick</a></li>
      <li><a href="https://www.theguardian.com/sport/2009/jul/05/roger-federer-andy-roddick-sampras-wimbledon">Roger Federer says, &#39;I had to play my very, very best to come through&#39;</a></li>
      <li><a href="https://www.theguardian.com/sport/2009/jul/05/pete-sampras-roger-federer-wimbledon">&#39;Roger Federer is the greatest&#39; says Pete Sampras after record broken</a></li>
      <li><a href="https://www.theguardian.com/commentisfree/2009/jul/06/roger-federer-wimbledon">Defining Federer&#39;s greatness | Carlo Strenger</a></li>
      <li><a href="https://www.theguardian.com/sport/blog/2009/jul/06/roger-federer-greatest-rafael-nadal">Shadow of Rafael Nadal hangs over Roger Federer&#39;s claim to be the greatest | Steve Bierley</a></li>
    </ul>
    <h3 id="2010">2010</h3>
    <ul>
      <li><a href="https://bleacherreport.com/articles/335299-the-professionalism-of-roger-federer">The Professionalism of Roger Federer</a></li>
      <li><a href="https://www.sbnation.com/tennis/2010/11/28/1840903/roger-federer-atp-world-tour-finals-nadal">Roger Federer Beats Rafael Nadal To Win ATP World Tour Finals</a></li>
    </ul>
    <h3 id="2011">2011</h3>
    <ul>
      <li><a href="https://www.theguardian.com/sport/2011/jun/03/roger-federer-french-open-novak-djokovic">Roger Federer shocks French Open by beating Novak Djokovic</a></li>
    </ul>
    <h3 id="2012">2012</h3>
    <ul>
      <li><a href="https://www.theguardian.com/sport/2012/jul/08/andy-murray-roger-federer-wimbledon-2012">Murray falls short as Federer takes seventh title</a></li>
      <li><a href="https://www.theguardian.com/sport/2012/jul/08/wimbledon-roger-federer-andy-murray">Wimbledon 2012: Roger Federer backs Andy Murray to win major titles</a></li>
      <li><a href="https://www.theguardian.com/sport/blog/2012/jul/08/roger-federer-wimbledon-andy-murray">Wimbledon 2012: Roger Federer&#39;s win puts him back on top of the world | Simon Cambers</a></li>
      <li><a href="https://www.theguardian.com/sport/video/2012/aug/06/roger-federer-olympic-medal-tennis-andy-murray-video">Roger Federer admits he didn&#39;t mind losing the Olympic gold medal to tennis rival Andy Murray - video</a></li>
    </ul>
    <h3 id="2014">2014</h3>
    <ul>
      <li><a href="https://www.theguardian.com/sport/blog/2014/may/24/rafael-nadal-roger-federer-tennis">Rafael Nadal and Roger Federer ushered in a tennis era we must cherish | Andrew Anthony</a></li>
      <li><a href="https://grantland.com/the-triangle/roger-federer-zeppelins-monfils-us-open/">Invisible Zeppelins: The Experience of Watching Roger Federer at the U.S. Open</a></li>
    </ul>
    <h3 id="2015">2015</h3>
    <ul>
      <li><a href="https://www.theguardian.com/sport/2015/jun/27/roger-federer-retirement-eighth-wimbledon-title">Roger Federer thinking not of retirement but eighth Wimbledon title</a></li>
      <li><a href="https://www.theguardian.com/sport/2015/jul/12/roger-federer-novak-djokovic-every-romantics-choice">That dreamy touch, the array of spins … the peerless Roger Federer is every romantic’s choice</a></li>
      <li><a href="https://grantland.com/the-triangle/the-sun-never-sets-on-roger-federer-endings-and-wimbledon/">The Sun Never Sets: On Roger Federer, Endings, and Wimbledon</a></li>
      <li><a href="https://grantland.com/the-triangle/this-is-34-roger-federer-will-not-go-away-thankfully/">This Is 34: Roger Federer Will Not Go Away, Thankfully</a></li>
    </ul>
    <h3 id="2017">2017</h3>
    <ul>
      <li><a href="https://www.theguardian.com/sport/2017/jan/14/roger-federer-australian-open-2017-melbourne-novak-djokovic-gambling">Roger Federer happy to be back fit and ready for the Australian Open</a></li>
      <li><a href="https://www.theguardian.com/sport/live/2017/jan/29/roger-federer-v-rafael-nadal-australian-open-final-live">Roger Federer beats Rafael Nadal to win Australian Open men&#39;s final – as it happened</a></li>
      <li><a href="https://www.theguardian.com/sport/blog/2017/jan/29/roger-federer-peerless-rafael-nadal-made-each-other-great-australian-open-final-tennis">Roger Federer is peerless but he and Rafael Nadal have made each other great | Kevin Mitchell</a></li>
      <li><a href="https://www.theguardian.com/sport/blog/2017/apr/01/roger-federer-australian-open-juan-martin-del-potro-novak-djokovic-rafael-nadal">Roger Federer touches tennis perfection after lightening load of expectation | Andrew Anthony</a></li>
      <li><a href="https://www.theguardian.com/sport/blog/2017/apr/03/roger-federer-resurgence-miami-open-rafael-nadal">Roger Federer’s resurgence shows less can be more on gruelling Tour | Kevin Mitchell</a></li>
      <li><a href="https://www.theguardian.com/sport/blog/2017/may/15/rafael-nadal-roger-federer-great-survivors">Rafael Nadal and Roger Federer the great survivors just keep on rolling | Sean Ingle</a></li>
      <li><a href="https://www.theguardian.com/sport/2017/jul/17/roger-federer-wimbledon-record-class-apart">Roger Federer stands tallest of all as Wimbledon’s history man | Sean Ingle</a></li>
      <li><a href="https://www.theguardian.com/sport/blog/2017/jul/17/roger-federer-marin-cilic-wimbledon-final">Graceful Roger Federer transcends statistics to rebuild mystical aura | Kevin Mitchell</a></li>
      <li><a href="https://www.sbnation.com/2017/9/1/16240360/roger-federer-us-open-comforting-sports-ideal-dad">Roger Federer is the most comforting thing about sports right now</a></li>
    </ul>
    <h3 id="2018">2018</h3>
    <ul>
      <li><a href="https://www.theguardian.com/sport/2018/jan/28/roger-feder-australian-open-final-marin-cilic-tennis">Federer wins 20th grand slam title with Australian Open victory over Cilic</a></li>
      <li><a href="https://www.theguardian.com/sport/2018/feb/12/roger-federer-rotterdam-world-number-one">Roger Federer: ‘My philosophy is I play when I’m ready&#39;</a></li>
      <li><a href="https://www.sbnation.com/tennis/2018/2/16/17021824/roger-federer-number-one-ranking-atp-rotterdam-the-freaking-goat">Roger Federer, who might be immortal, becomes oldest man to hold No. 1 ranking</a></li>
      <li><a href="https://www.theguardian.com/sport/2018/may/23/roger-federer-serena-williams-greatest-ever-tennis-player">Roger Federer: Serena Williams may well be best overall tennis player ever</a></li>
      <li><a href="https://www.theguardian.com/sport/2018/aug/28/roger-federer-serena-williams-us-open-tennis">How Roger Federer and Serena Williams came to see themselves in each other</a></li>
      <li><a href="https://www.sbnation.com/tennis/2018/9/1/17810242/us-open-2018-results-roger-federer-shot-nick-kyrgios-video">Roger Federer will never, ever stop making impossible shots like this one</a></li>
    </ul>
    <h3 id="2020">2020</h3>
    <ul>
      <li><a href="https://www.theguardian.com/sport/2020/jul/08/the-greatest-roger-federer-balletic-grace-outrageous-effortless">The greatest: Roger Federer – balletic grace that makes the outrageous appear effortless</a></li>
      <li><a href="https://www.theguardian.com/sport/blog/2020/jul/10/roger-federer-tennis-greatest-kevin-mitchell">Adored like Ali: why Roger Federer is the champion of the world – in a tiebreak | Kevin Mitchell</a></li>
    </ul>
    <h3 id="2021">2021</h3>
    <ul>
      <li><a href="https://www.theguardian.com/sport/blog/2021/mar/07/federer-ready-to-play-long-game-on-eve-of-his-long-awaited-return">The long wait for Roger Federer&#39;s return is a reminder to cherish him | Tumaini Carayol</a></li>
      <li><a href="https://www.theguardian.com/sport/blog/2021/jul/07/roger-federer-will-hate-the-taste-of-bagel-but-it-is-too-soon-to-write-him-off">Roger Federer will hate taste of bagel, but it is too soon to write him off | Tumaini Carayol</a></li>
    </ul>
    <h3 id="2022">2022</h3>
    <ul>
      <li><a href="https://www.theguardian.com/sport/2022/sep/15/a-champions-champion-fellow-players-and-athletes-pay-tribute-to-roger-federer">‘A champion’s champion’: Nadal and other tennis stars react to Roger Federer retirement</a></li>
      <li><a href="https://www.theguardian.com/sport/2022/sep/15/a-gamechanger-and-a-gentleman-roger-federer-finally-calls-time">A gamechanger and a gentleman: Roger Federer finally calls time</a></li>
      <li><a href="https://www.theguardian.com/sport/blog/2022/sep/15/farewell-roger-federer-greatest-player-era-tennis-greats">Farewell to Roger Federer, the greatest player in an era of greats</a></li>
      <li><a href="https://www.theguardian.com/sport/2022/sep/16/roger-federer-tennis-greatest-shots-career-highlights">Genius to heartbreak: The 10 most memorable points of Federer’s career</a></li>
      <li><a href="https://www.theguardian.com/sport/2022/sep/21/roger-federer-hopes-to-bow-out-tennis-doubles-alongside-rafael-nadal-laver-cup">Roger Federer hopes to bow out of tennis in doubles alongside Rafael Nadal</a></li>
      <li><a href="https://www.theguardian.com/fashion/2022/sep/22/the-enduring-style-of-roger-federer">The enduring style of Roger Federer</a></li>
      <li><a href="https://www.theguardian.com/sport/2022/sep/22/it-just-feels-right-federer-embraces-final-bow-alongside-great-rivals">‘It just feels right’: Federer embraces final bow alongside great rivals</a></li>
      <li><a href="https://www.theguardian.com/sport/2022/sep/23/getting-close-to-the-best-was-an-inspiration-for-roger-federer-and-myself">Getting close to the best was an inspiration for Roger Federer and me</a></li>
      <li><a href="https://www.theguardian.com/sport/2022/sep/24/roger-federer-tennis-laver-cup-rafael-nadal-sock-tiafoe">Roger Federer bids emotional farewell in doubles defeat alongside Rafael Nadal</a></li>
      <li><a href="https://www.theguardian.com/sport/live/2022/sep/23/federer-nadal-last-match-laver-cup-doubles-latest-retirement">Roger Federer makes emotional farewell after defeat in final doubles match – as it happened</a></li>
      <li><a href="https://www.theguardian.com/sport/2022/sep/24/tears-hugs-and-glory-as-roger-federer-finally-bows-out-from-tennis">Tears, hugs and glory as Roger Federer finally bows out from tennis</a></li>
      <li><a href="https://www.theguardian.com/commentisfree/2022/sep/26/statistics-prove-roger-federers-class-but-his-love-for-his-opponents-shows-his-greatness">Statistics prove Roger Federer’s class, but his love for his opponents shows his greatness</a></li>
    </ul>
    <h3 id="2023">2023</h3>
    <ul>
      <li><a href="https://olympics.com/en/news/how-many-wimbledon-titles-roger-federer-won-tennis-career-grand-slam-record">Roger Federer at Wimbledon: When ‘King Roger' ruled</a>
    </li>
  </ul>
</article>
</main>
<Footer/>
</body>
</html>