---

import site from '../data/site.json';

const {
  posttitle,
  title,
  description,
  canonicalURL = Astro.canonicalURL
} = Astro.props;

const blogRssFeed = `${site.url}feed/blog.xml`;

let ogimage = 'https://lukealexdavis.co.uk/assets/ld-logo-og-image.jpg';
---
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />

<link rel="icon" type="image/svg" href="/favicon.svg" />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta name="generator" content="Astro 1.0.0-beta.53">
<link rel="canonical" href={canonicalURL} />
<link rel="alternate" type="application/rss+xml" title={site.title} href={blogRssFeed} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={canonicalURL} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={ogimage} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={canonicalURL} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={ogimage} />

<script defer data-domain="lukealexdavis.co.uk" src="https://plausible.io/js/plausible.js"></script>

<link rel="preload" href="/fonts/Archivo-Black.woff" as="font" type="font/woff" crossorigin>
<link rel="preload" href="/fonts/Karla-Light.woff2" as="font" type="font/woff" crossorigin>