---
import site from '../data/site.json';
import { devDependencies } from '../../package.json';

const {
  posttitle,
  title,
  description,
  canonicalURL = Astro.url
} = Astro.props;

const blogRssFeed = `${site.url}feed/blog.xml`;

let ogimage = 'https://lukealexdavis.co.uk/assets/ld-logo-og-image.jpg';
const generator = `astro-${devDependencies.astro}`;
---
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
<link rel="icon" type="image/png" href="/favicon.png" />
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta name="generator" content={generator}>
<link rel="canonical" href={canonicalURL} />
<link rel="alternate" type="application/rss+xml" title={site.title} href={blogRssFeed} />
<link rel="preload" href="/fonts/Karla-Light-subset.woff2" as="font" type="font/woff" crossorigin>
<style>@font-face{font-family:"Karla";src:url("/fonts/Karla-Light-subset.woff2") format("woff2");font-weight:300;font-style:normal;font-display:swap;}</style>
<link rel="preload" as="style" href="/style/blog.css" type="text/css">
<link rel="stylesheet" type="text/css" href="/style/blog.css">
<script defer data-domain="lukealexdavis.co.uk" src="https://plausible.io/js/plausible.js"></script>