---
import site from '../data/site.json';

const {
  title,
  description,
  image = site.url + 'images/ld-logo-og-image.jpg',
  canonicalURL = Astro.url
} = Astro.props;

const blogRssFeed = `${site.url}blog.xml`;

---
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
<title>{title}</title>
<link rel="stylesheet" type="text/css" href="/style/blog.css">
<link rel="preload" as="font" href="/fonts/DMSerifDisplay-Regular-subset.woff2" type="font/woff2" crossorigin>
<script defer data-domain="lukealexdavis.co.uk" src="https://plausible.io/js/plausible.js"></script>
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="icon" type="image/png" href="/favicon.png" />
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta property="og:image" content={image} />
<meta name="generator" content={Astro.generator}>
<link rel="canonical" href={canonicalURL} />
<link rel="alternate" type="application/rss+xml" title={site.title} href={blogRssFeed} />
<link href="https://uk.linkedin.com/in/lukealexdavis" rel="me">
<link href="https://bsky.app/profile/lukealexdavis.co.uk" rel="me">
<link href="https://github.com/starchildluke" rel="me">
<link rel="authorization_endpoint" href="https://indieauth.com/auth">
<script>document.querySelectorAll(".nav-links a").forEach(e=>{e.href===window.location.href&&e.setAttribute("aria-current","page")});</script>
</head>