---
import SVG from '../components/SVG.astro';
const {title, className, hrColor} = Astro.props;
---
<header class="center" id="top">
  <div class="h1__block">
    { Astro.url.pathname == '/' ?
      <h1 class="h1__home">{title}</h1>
      :
      <h2 class="h2__home">Luke Davis</h2>
    }
    <SVG height="25px" width="25px" />
  </div>
    <nav class="nav-bar" aria-label="site navigation">
      <ul class="center nav-links" role="list">
        <li><a class={className} href="/">home</a></li>
        <li><a class={className} href="/about/">about</a></li>
        <li><a class={className} href="/posts/">posts</a></li>
        <li><a class={className} href="/morsels/">morsels</a></li>
        <li><a class={className} href="/jardim/">jardim</a></li>
        <li><a class={className} href="/uses/">uses</a></li>
        <li><a class={className} href="/misc/">misc</a></li>
        <li><a class={className} href="/support/">support</a></li>
      </ul>
    </nav>
  </header>