---
const { prevPost, nextPost, prevSlug, prevTitle, nextSlug, nextTitle, contentType } = Astro.props;
---

<div class="post-pagination">
  {prevPost && <a href={`/${contentType}/${prevSlug}/`} class="post-pagination-item post-pagination-prev">{prevTitle}</a>}
  {nextPost && <a href={`/${contentType}/${nextSlug}/`} class="post-pagination-item post-pagination-next">{nextTitle}</a>}
</div>