---
import { getCollection } from 'astro:content';

const { tagName, className } = Astro.props;

const posts = await getCollection('posts', ({ data }) => {
  return data.tags.includes(tagName);
});

const recortes = await getCollection('recortes', ({ data }) => {
  return data.tags.includes(tagName);
});

const lists = await getCollection('lists', ({ data }) => {
  return data.tags.includes(tagName);
});

const notes = await getCollection('release-notes', ({ data }) => {
  return data.tags?.includes(tagName);
});

const morsels = await getCollection('morsels', ({ data }) => {
  return data.tags?.includes(tagName);
});

const collator = Intl.Collator([], {numeric: true});

const allPosts = [...posts, ...recortes, ...lists, ...notes, ...morsels];

const allSortedPosts = allPosts.sort((a, b) => collator.compare(a.data.title, b.data.title));

---
{allSortedPosts.length > 0 ? <ul class={className}>
  {allSortedPosts.length > 0 ? allSortedPosts.map(post =>
  <li class={className}><a class={className} href=`/posts/${post.slug}/`>{post.data.title}</a></li>
  ) : ""}
</ul> : ""}