---
// COMPONENTS

import BaseHead from '../../components/BaseHead.astro';
import BlogHeader from '../../components/BlogHeader.astro';
import BlogFooter from '../../components/BlogFooter.astro';
import Breadcrumbs from '../../components/Breadcrumbs.astro';
import site from '../../data/site.json';
import wiki from '../../data/wiki.json';

// EXPORT

export interface Props {
  post: any;
  metaTitle: string;
  title: string;
  slug: string;
  description: string;
  domain: string;
}

// PROPS

const { post } = Astro.props;

// HOW FETCHING!

const remoteData = await fetch('https://cultrface.co.uk/wp-json/wp/v2/posts?categories=290&per_page=10').then(response => response.json());

const siteData = await fetch('https://lukealexdavis.co.uk/sitemap.json').then(response => response.json()).then((json) => console.log(json));

// METADATA VARIABLES

let title = 'Architecture';
let slug = '/wiki/architecture/';
let description = 'A wiki page all about architecture.';
let domain = "https://lukealexdavis.co.uk"

---
<html lang="en">
  <head>
    <BaseHead title={'wiki/' + title.toLowerCase()} description={description} canonicalURL={domain + slug} />  
  </head>

  <body>
    <BlogHeader />
      <div class="layout">
        <article class="content">
          <Breadcrumbs title={title}/>
            <section class="intro">

              <h1>{title}</h1>
              <p class="desc">{description}</p>

            </section>
            <section>
             
              <h2 class="wiki-h2">Inner voice</h2>
                <ul>
                  <li><a href="/post/my-week-in-lisbon/">/my-week-in-lisbon.md</a></li>
                </ul>
            </section>
      
            <section>
              <h2 class="wiki-h2">Out loud</h2>
              <ul class="post-list">
                {remoteData.map(( post ) => (
                  <li class="">
                    <a href={post.link}><Fragment set:html={post.title.rendered}></a>
                  </li>
                ))}
              </ul>
              <h2 class="wiki-h2">Second opinions</h2>
                <ul>
                  <li>
                    <a href="https://www.designboom.com/architecture/project-milestone-first-3d-printed-concrete-house-europe-eindhoven-netherland-completion-04-30-2021/">Europe's first 3D-printed house has new occupants</a>
                  </li>
                </ul>
            </section>
        </article>
      
      </div>
    
    <BlogFooter></BlogFooter>
  
  </body>

</html>