---
// COMPONENTS

import { Markdown } from 'astro/components';
import BaseHead from '../../components/BaseHead.astro';
import BlogHeader from '../../components/BlogHeader.astro';
import BlogFooter from '../../components/BlogFooter.astro';
import Breadcrumbs from '../../components/Breadcrumbs.astro';
import site from '../../data/site.json';
import wiki from '../../data/wiki.json'

// EXPORT

export interface Props {
  post: any;
}

// PROPS

const { post } = Astro.props;

// HOW FETCHING!

const remoteData = await fetch('https://cultrface.co.uk/wp-json/wp/v2/posts?categories=828&per_page=100').then(response => response.json());

const remoteData2 = await fetch('https://sampleface.co.uk/wp-json/wp/v2/posts?tags=2622').then(response => response.json());

const remoteData3 = await fetch('https://logicface.co.uk/wp-json/wp/v2/posts?categories=236&per_page=100').then(response => response.json());

// METADATA VARIABLES

let title = 'Black';
let slug = '/wiki/black/';
let description = "A wiki page all about blackness.";
let domain = "https://lukealexdavis.co.uk"

---
<html lang="en">
  <head>
    <BaseHead title={'wiki/' + title.toLowerCase()} description={description} canonicalURL={domain + slug} />

<style>

      .post-listing {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        }

      .post-preview {
        padding-bottom: 1rem;
      }

      .post-listing a {
        max-width: 60%;
      }

      .publish-date {
        letter-spacing: 2px;
      }

      header {
        display: flex;
        flex-direction: column;
        text-align: left;
        align-items: flex-start;
        justify-content: center;

        padding-bottom: 2rem;
      }

      .desc {
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--color-grey-800);
      }

      .title, .publish-date {
        margin: 0;
      }

      .publish-date {
        text-transform: uppercase;
        letter-spacing: 2px;
      }

      .title {
        font-size: 2.25rem;
        font-weight: 700;
        color: var(--theme-text);
      }

      .wiki-h2 {
        margin-bottom: 2rem;
      }

      .wiki-h2:after {
         background: none repeat scroll 0 0 #295f2b;
         bottom: -0.5rem;
         content: "";
         display: block;
         height: 0.6rem;
         position: relative;
         width: 2.5rem;
      }

      .wiki-listing {
        padding-bottom: 0.5rem;
      }

    </style>

  </head>

  <body>
    <BlogHeader />
    <div class="layout">
      <article class="content">
        <Breadcrumbs title={title}/>
        <section class="intro">
          <h1>{title}</h1>
        </section>
        <section>
          <Markdown>
          ## Inner voice
          
          * [/1-year-later.md](/post/1-year-later/)
          * [/4-article-ideas-the-read.md](/post/4-article-ideas-the-read/)
          * [/beyond-tired-part-2.md](/post/beyond-tired-part-2/)
          * [/beyond-tired-3.md](/post/beyond-tired-3/)
          * [/beyond-tired-4.md](/post/beyond-tired-4/)
          * [/black-and-tired.md](/post/black-and-tired/)
          * [/black-panther-and-therapy.md](/post/black-panther-and-therapy/)
          * [/black-survival-is-black-excellence.md](/post/black-survival-is-black-excellence/)
          * [/blackness.md](/post/blackness/)
          * [/im-racially-tired.md](/post/im-racially-tired/)
          * [/kamala-harris-is-still-a-cop.md](/post/kamala-harris-is-still-a-cop/)
          * [/night-off.md](/post/night-off/)
          * [/rip-mj-8-years-on.md](/post/rip-mj-8-years-on/)

          </Markdown>

        </section>
      <section>
      
    <section>
      <h2 class="wiki-h2">Out loud</h2>
        <ul class="post-list">
            {remoteData.map((item) => (
                <li class="post-preview wiki-listing post-list">
            <a href={item.link}>{item.title.rendered}</a>
          </li>
             ))}
             {remoteData2.map((item) => (
                <li class="post-preview wiki-listing post-list">
            <a href={item.link}>{item.title.rendered}</a>
          </li>
             ))}
             {remoteData3.map((item) => (
                <li class="post-preview wiki-listing post-list">
            <a href={item.link}>{item.title.rendered}</a>
          </li>
             ))}
        </ul>
        <h2 class="wiki-h2">Second opinions</h2>
        <ul>
          <li><a href="https://daily.jstor.org/the-history-of-black-owned-record-labels/">The History of Black-Owned Record Labels</a></li>
        </ul>
    </section>
    </section>
      </article>
      
    </div>
    <BlogFooter></BlogFooter>
  </body>
</html>