---
// COMPONENTS

import { Markdown } from 'astro/components';
import BaseHead from '../../components/BaseHead.astro';
import BlogHeader from '../../components/BlogHeader.astro';
import BlogFooter from '../../components/BlogFooter.astro';
import Breadcrumbs from '../../components/Breadcrumbs.astro';
import site from '../../data/site.json';
import wiki from '../../data/wiki.json'

// EXPORT

export interface Props {
  post: any;
  metaTitle: string;
  title: string;
  slug: string;
  description: string;
  domain: string;
}

// PROPS

const { post } = Astro.props;

// HOW FETCHING!

const remoteData = await fetch('https://logicface.co.uk/wp-json/wp/v2/posts?tags=268&per_page=100').then(response => response.json());

const remoteData2 = await fetch('https://cultrface.co.uk/wp-json/wp/v2/posts?tags=563').then(response => response.json());

// METADATA VARIABLES

let title = 'COVID-19';
let slug = '/wiki/covid-19/';
let description = 'A wiki page all about COVID-19.';
let domain = "https://lukealexdavis.co.uk"

---
<html lang="en">
  <head>
    <BaseHead title={'wiki/' + title.toLowerCase()} description={description} canonicalURL={domain + slug} />
    <link rel="stylesheet" href="/style/blog.css" />

<style>
      
      body {
        width: 100%;
        display: flex;
      }

      header {
        width: 100%;
        height: 100%;
        background-color: var();
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .content {
        margin-bottom: 8rem;
      }

      .content :global() {
        margin-top: 1rem;
      }

      .intro {
        padding-bottom: 1.4rem;
      }

      .intro > * {
        margin: 0;
      }

      .content :global() {
        margin-top: 1rem;
      }

      .post-listing {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        }

      .post-preview {
        padding-bottom: 1rem;
      }

      .post-listing a {
        max-width: 60%;
      }

      .publish-date {
        letter-spacing: 2px;
      }

      header {
        display: flex;
        flex-direction: column;
        text-align: left;
        align-items: flex-start;
        justify-content: center;

        padding-bottom: 2rem;
      }

      .desc {
        font-size: 1.5rem;
        font-weight: 700;
        color: var();
      }

      .title, .publish-date {
        margin: 0;
      }

      .publish-date {
        text-transform: uppercase;
        letter-spacing: 2px;
      }

      .title {
        font-size: 2.25rem;
        font-weight: 700;
        color: var();
      }

      .wiki-h2 {
        margin-bottom: 2rem;
      }

      .wiki-h2:after {
         background: none repeat scroll 0 0 #295f2b;
         bottom: -0.5rem;
         content: "";
         display: block;
         height: 0.6rem;
         position: relative;
         width: 2.5rem;
      }

      .wiki-listing {
        padding-bottom: 0.5rem;
      }

    </style>

</head>

  <body>
    <BlogHeader />
      <div class="layout">
        <article class="content">
          <Breadcrumbs title={title}/>
            <section class="intro">

              <h1>{title}</h1>
              <p class="desc">{description}</p>
       </section>
            <section>
             
              <h2 class="wiki-h2">Inner voice</h2>
                <Markdown>
                  * [/new-normal.md](/post/new-normal/)
                  * [/beyond-tired-4.md](/post/beyond-tired-4/)
                  * [/boats-storms-rockets.md](/post/boats-storms-rockets/)
                </Markdown>
            </section>
      
            <section>
              <h2 class="wiki-h2">Out loud</h2>
              <ul class="post-list">
                {remoteData.map((item) => (
                <li class="post-preview wiki-listing post-list">
            <a href={item.link}>{item.title.rendered}</a>
          </li>
             ))}
             {remoteData2.map((item) => (
                <li class="post-preview wiki-listing post-list">
            <a href={item.link}>{item.title.rendered}</a>
          </li>
             ))}
             </ul>
              <h2 class="wiki-h2">Second opinions</h2>
                <Markdown>
                  * [How long can I keep using the same N95 respirator mask? Here’s what Bay Area experts say](https://www.sfchronicle.com/health/article/How-long-can-I-keep-using-the-same-N95-respirator-16765593.php)
                  * [Here's a brief recap of some new publications, preprints, and reports related to COVID-19 that have come out recently](https://twitter.com/TRyanGregory/status/1522658781049626624)
                </Markdown>
            </section>
        </article>
      
    </div>
    <BlogFooter></BlogFooter>
  </body>
</html>
