---
// COMPONENTS

import BaseHead from '../../components/BaseHead.astro';
import BlogHeader from '../../components/BlogHeader.astro';
import BlogFooter from '../../components/BlogFooter.astro';
import Breadcrumbs from '../../components/Breadcrumbs.astro';
import site from '../../data/site.json';
import wiki from '../../data/wiki.json'

// EXPORT

export interface Props {
  post: any;
  metaTitle: string;
  title: string;
  slug: string;
  description: string;
  domain: string;
}

// PROPS

const { post } = Astro.props;

// HOW FETCHING!

const remoteData = await fetch('https://distantarcade.co.uk/wp-json/wp/v2/posts?per_page=10').then(response => response.json());

// METADATA VARIABLES

let title = 'Gaming';
let slug = '/wiki/gaming/';
let description = 'A wiki page all about gaming.';
let domain = "https://lukealexdavis.co.uk"

---
<html lang="en">
  <head>
    <BaseHead title={'wiki/' + title.toLowerCase()} description={description} canonicalURL={domain + slug} />
  </head>
  <body>
    <BlogHeader />
    <div class="layout">
      <article class="content">
        <Breadcrumbs title={title}/>
        <section class="intro">
          <h1>{title}</h1>
          <p class="desc">{description}</p>
        </section>
        <section>
          
          <h2 class="wiki-h2">Inner voice</h2>
          
          <ul>
            <li><a href="/post/12-facts-i-didnt-know-about-pokemon/">/12-facts-i-didnt-know-about-pokemon.md</a></li>
            <li><a href="/post/boom-tetris-for-jeff/">/boom-tetris-for-jeff.md</a></li>
            <li><a href="/post/my-new-obsession-is-sega/">/my-new-obsession-is-sega.md</a></li>
            <li><a href="/post/my-five-favourite-video-games-of-all-time/">/my-five-favourite-video-games-of-all-time.md</a></li>
          </ul>
          
        </section>
        
        <section>
          <h2 class="wiki-h2">Out loud</h2>
          <ul class="post-list">
            {remoteData.map((item) => (
            <li class="post-preview wiki-listing post-list">
              <a href={item.link}><Fragment set:html={item.title.rendered}></a>
            </li>
            ))}
          </ul>
          <h2 class="wiki-h2">Second opinions</h2>
          
          <ul>
            <li><a href="http://lavacutcontent.com/sugimori-masuda-developer-interview/">Interview: Sugimori &amp; Masuda on Building Gen 1</a></li>
          </ul>
        </section>
      </article>
      
    </div>
    <BlogFooter></BlogFooter>
  </body>
</html>