---
// COMPONENTS

import { Markdown } from 'astro/components';
import BaseHead from '../../components/BaseHead.astro';
import BlogHeader from '../../components/BlogHeader.astro';
import BlogFooter from '../../components/BlogFooter.astro';
import Breadcrumbs from '../../components/Breadcrumbs.astro';
import site from '../../data/site.json';
import wiki from '../../data/wiki.json';

// EXPORT

export interface Props {
  post: any;
  metaTitle: string;
  title: string;
  slug: string;
  description: string;
  domain: string;
}

// PROPS

const { post } = Astro.props;

// HOW FETCHING!

const cultrData = await fetch('https://cultrface.co.uk/wp-json/wp/v2/posts?tags=136&per_page=100').then(response => response.json());
const logicData = await fetch('https://logicface.co.uk/wp-json/wp/v2/posts?tags=22&per_page=100').then(response => response.json());
const daData = await fetch('https://distantarcade.co.uk/wp-json/wp/v2/posts?categories=137&per_page=100').then(response => response.json());

// METADATA VARIABLES

let title = 'Pokémon';
let slug = '/wiki/pokemon/';
let description = 'A wiki page all about Pokémon.';
let domain = "https://lukealexdavis.co.uk"

---
<html lang="en">
  <head>
    <BaseHead title={'wiki/' + title.toLowerCase()} description={description} canonicalURL={domain + slug} />
   <style>

      .post-listing {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        }

      .post-preview {
        padding-bottom: 1rem;
      }

      .post-listing a {
        max-width: 60%;
      }

      .publish-date {
        letter-spacing: 2px;
      }

      header {
        display: flex;
        flex-direction: column;
        text-align: left;
        align-items: flex-start;
        justify-content: center;

        padding-bottom: 2rem;
      }

      .desc {
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--color-grey-800);
      }

      .title, .publish-date {
        margin: 0;
      }

      .publish-date {
        text-transform: uppercase;
        letter-spacing: 2px;
      }

      .title {
        font-size: 2.25rem;
        font-weight: 700;
        color: var(--theme-text);
      }

      .wiki-h2 {
        margin-bottom: 2rem;
      }

      .wiki-h2:after {
         background: none repeat scroll 0 0 #295f2b;
         bottom: -0.5rem;
         content: "";
         display: block;
         height: 0.6rem;
         position: relative;
         width: 2.5rem;
      }

      .wiki-listing {
        padding-bottom: 0.5rem;
      }

    </style>
  
  </head>

  <body>
    <BlogHeader />
      <div class="layout">
        <article class="content">
          <Breadcrumbs title={title}/>
            <section class="intro">

              <h1>{title}</h1>
              <p class="desc">{description}</p>

            </section>
            <section>
             
              <h2 class="wiki-h2">Inner voice</h2>
                <ul>
                  <li><a href="/post/12-facts-i-didnt-know-about-pokemon/">/12-facts-i-didnt-know-about-pokemon.md</a></li>
                </ul>
            </section>
      
            <section>
              <h2 class="wiki-h2">Out loud</h2>
              <ul class="post-list">
                {cultrData.map(( post ) => (
                  <li class="post-preview wiki-listing post-list">
                    <a href={post.link}><Fragment set:html={post.title.rendered}></a>
                  </li>
                ))}
                {logicData.map((post) => (
                <li class="post-preview wiki-listing post-list">
            <a href={post.link}><Fragment set:html={post.title.rendered}></a>
          </li>
             ))}
             {daData.map((post) => (
                <li class="post-preview wiki-listing post-list">
            <a href={post.link}><Fragment set:html={post.title.rendered}></a>
          </li>
             ))}
              </ul>
              <h2 class="wiki-h2">Second opinions</h2>
                <ul>
                  <li>Coming soon...</li>
                </ul>
            </section>
        </article>
      
      </div>
    
    <BlogFooter></BlogFooter>
  
  </body>

</html>
