---
// COMPONENTS

import BaseHead from '../../components/BaseHead.astro';
import BlogHeader from '../../components/BlogHeader.astro';
import BlogFooter from '../../components/BlogFooter.astro';
import Breadcrumbs from '../../components/Breadcrumbs.astro';
import site from '../../data/site.json';
import wiki from '../../data/wiki.json';
import tags from '../../data/tags.json';

// EXPORT

export interface Props {
  post: any;
  metaTitle: string;
  title: string;
  slug: string;
  description: string;
  domain: string;
}

// PROPS

const { post } = Astro.props;

// HOW FETCHING!

const cultrData = await fetch('https://cultrface.co.uk/wp-json/wp/v2/posts?tags=136&per_page=3').then(response => response.json());
const logicData = await fetch('https://logicface.co.uk/wp-json/wp/v2/posts?tags=22&per_page=3').then(response => response.json());
const daData = await fetch('https://distantarcade.co.uk/wp-json/wp/v2/posts?categories=137&per_page=4').then(response => response.json());

// METADATA VARIABLES

let title = 'Pokémon';
let slug = '/wiki/pokemon/';
let description = 'A wiki page all about Pokémon.';
let domain = "https://lukealexdavis.co.uk"

---
<html lang="en">
  <head>
    <BaseHead title={'wiki/' + title.toLowerCase()} description={description} canonicalURL={domain + slug} />
  </head>

  <body>
    <BlogHeader />
      <div class="layout">
        <article class="content">
          <Breadcrumbs title={title}/>
            <section class="intro">

              <h1>{title}</h1>
              <p class="desc">{description}</p>

            </section>
            <section>
             
              <h2 class="wiki-h2">Inner voice</h2>
                <ul>
            {tags["Pokémon"].map((tag) => (
            <li class="post-preview wiki-listing post-list">
              <a href={tag.link}>{tag.title}</a>
            </li>
          ))}
        </ul>
            </section>
      
            <section>
              <h2 class="wiki-h2">Out loud</h2>
              <ul class="post-list">
                {cultrData.map(( post ) => (
                  <li class="post-preview wiki-listing post-list">
                    <a href={post.link}><Fragment set:html={post.title.rendered}></a>
                  </li>
                ))}
                {logicData.map((post) => (
                <li class="post-preview wiki-listing post-list">
            <a href={post.link}><Fragment set:html={post.title.rendered}></a>
          </li>
             ))}
             {daData.map((post) => (
                <li class="post-preview wiki-listing post-list">
            <a href={post.link}><Fragment set:html={post.title.rendered}></a>
          </li>
             ))}
              </ul>
              <h2 class="wiki-h2">Second opinions</h2>
                <ul>
                  <li>Coming soon...</li>
                </ul>
            </section>
        </article>
      
      </div>
    
    <BlogFooter></BlogFooter>
  
  </body>

</html>
