---
import Markdown from '@astrojs/markdown-component';
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import BlogPost from '../components/BlogPost.astro';
import BlogFooter from '../components/BlogFooter.astro';
import StructuredData from '../components/StructuredData.astro';
import RelatedPosts from '../components/RelatedPosts.astro';
import prevNext from '../data/next_prev.json';

function prevNextLinking() {

  for(let i = 0; i < prevNext.length; i++)
{
  if(prevNext[0]["url"] == Astro.url.pathname)
  {
    let prevLink = prevNext[0]["link_data"][0]["prev"]
    let prevTitle = prevNext[0]["link_data"][0]["title"]
    let nextLink = "";
    let nextTitle = "";
    return "<a href=" + prevLink + ">" + prevTitle + "</a>";
  } else if(prevNext[prevNext.length - 1]["url"] == Astro.url.pathname) {
    let prevLink = "";
    let prevTitle = "";
    let nextLink = prevNext[prevNext.length - 1]["link_data"][0]["next"]
    let nextTitle = prevNext[prevNext.length - 1]["link_data"][0]["title"]
    return "<a href=" + nextLink + ">" + nextTitle + "</a>";
  } else if(prevNext[i]["url"] == Astro.url.pathname) {
    let prevLink = prevNext[i]["link_data"][0]["prev"]
    let prevTitle = prevNext[i]["link_data"][0]["title"]
    let nextLink = prevNext[i]["link_data"][1]["next"]
    let nextTitle = prevNext[i]["link_data"][1]["title"]
    return "<a href=" + nextLink + ">" + nextTitle + "</a>"  + " " + "<a href=" + prevLink + ">" + prevTitle + "</a>";
  }
}
}

const {content} = Astro.props; 
const {title, description, date, canonicalURL, tags, relatedposts} = content;

---
<html lang="en">
  <head>
    <BaseHead {title} {description} {canonicalURL} />
    <StructuredData {title} {date} />
  </head>
  <body>
    <BlogHeader />
    <BlogPost {title} {date}>
      <slot />
      <div class="tagged-as">Tagged as:</div>
      <Markdown>
        {tags.map(tag => <span class="tags">{tag} </span>)}
      </Markdown>
      <!-- <Fragment set:html={prevNextLinking()}> -->
      <RelatedPosts />
    </BlogPost>
    <BlogFooter />
  </body>
</html>