---
import Markdown from '@astrojs/markdown-component';
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import BlogPost from '../components/BlogPost.astro';
import BlogFooter from '../components/BlogFooter.astro';
import StructuredData from '../components/StructuredData.astro';

const {content} = Astro.props;
const {title, description, date, canonicalURL, tags, tag_urls} = content;

---
<html lang="en">
  <head>
    <BaseHead {title} {description} {canonicalURL} />
    <StructuredData {title} {date} />
  </head>

  <body>
    <BlogHeader />
    <BlogPost {title} {date}>
      <slot />
      <div class="tagged-as">Tagged as:</div>
      <Markdown>
        {tags.map(tag => <span class="tags">{tag} </span>)}
      </Markdown>
    </BlogPost>
    <BlogFooter />
  </body>
</html>