---
import BaseHead from '../components/BaseHead.astro';
import StructuredData from '../components/StructuredData.astro';
import BreadcrumbsSD from '../components/BreadcrumbsSD.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
  title: string;
  metaTitle: string;
  description: string;
  pubDate: string;
  canonicalURL: string | URL;
  url: string | URL;
  robotsTag: string;
}

const { title, metaTitle, description, pubDate, robotsTag, canonicalURL = Astro.url } = Astro.props;

---
<html lang="en-GB">
  <BaseHead {title} {metaTitle} {description} {canonicalURL} {robotsTag}/>
  <StructuredData {title} {pubDate} />
  {canonicalURL.href.indexOf("jardim") ? <BreadcrumbsSD url={canonicalURL} /> : null}
  <body>
    <Header title={title} />
    <main class="layout">
      <slot />
  </main>
  <Footer/>
  </body>
</html>