---
import Markdown from '@astrojs/markdown-component';
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import List from '../components/List.astro';
import BlogFooter from '../components/BlogFooter.astro';
import StructuredData from '../components/StructuredData.astro';

const {content} = Astro.props;
const {title, description, date, canonicalURL} = content;

---
<html lang="en">
  <head>
    <BaseHead {title} {description} {canonicalURL} />
    <StructuredData {title} {date} />
  </head>

  <body>
    <BlogHeader />
    <List {title} {date}>
      <slot />
    </List>
    <BlogFooter />
  </body>
</html>