---
import Markdown from '@astrojs/markdown-component';
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import BlogPost from '../components/BlogPost.astro';
import BlogFooter from '../components/BlogFooter.astro';
import StructuredData from '../components/StructuredData.astro';
import RelatedPosts from '../components/RelatedPosts.astro';
import prevNextWikinotes from '../data/next_prev_wikinotes.json';

function prevNextLinking() {

  for(let i = 0; i < prevNextWikinotes.length; i++)
{
  if(prevNextWikinotes[0]["url"] == Astro.url.pathname)
  {
    let prevLink = prevNextWikinotes[0]["link_data"][0]["prev"]
    let prevTitle = prevNextWikinotes[0]["link_data"][0]["title"]
    let nextLink = "";
    let nextTitle = "";
    return "<a href=" + prevLink + " class='post-pagination-item post-pagination-prev' >" + prevTitle + "</a>";
  } else if(prevNextWikinotes[prevNextWikinotes.length - 1]["url"] == Astro.url.pathname) {
    let prevLink = "";
    let prevTitle = "";
    let nextLink = prevNextWikinotes[prevNextWikinotes.length - 1]["link_data"][0]["next"]
    let nextTitle = prevNextWikinotes[prevNextWikinotes.length - 1]["link_data"][0]["title"]
    return "<a href=" + nextLink + " class='post-pagination-item post-pagination-next' >" + nextTitle + "</a>";
  } else if(prevNextWikinotes[i]["url"] == Astro.url.pathname) {
    let prevLink = prevNextWikinotes[i]["link_data"][0]["prev"]
    let prevTitle = prevNextWikinotes[i]["link_data"][0]["title"]
    let nextLink = prevNextWikinotes[i]["link_data"][1]["next"]
    let nextTitle = prevNextWikinotes[i]["link_data"][1]["title"]
    return "<a href=" + prevLink + " class='post-pagination-item post-pagination-prev'>" + prevTitle + "</a>"  + " " + "<a href=" + nextLink + " class='post-pagination-item post-pagination-next' >" + nextTitle + "</a>";
  }
}
}

const {content} = Astro.props; 
const {title, description, date, canonicalURL, tags, relatedposts} = content;

---
<html lang="en">
  <head>
    <BaseHead {title} {description} {canonicalURL} />
    <StructuredData {title} {date} />
  </head>
  <body>
    <BlogHeader />
    <BlogPost {title} {date}>
      <slot />
      <div class="post-pagination">
        <Fragment set:html={prevNextLinking()}>
      </div>
      <RelatedPosts />
    </BlogPost>
    <BlogFooter />
  </body>
</html>