---
import Layout from '../../layouts/Layout.astro';
import FormattedDate from '../../components/FormattedDate.astro';
import { getCollection } from 'astro:content';

export interface Props {
  canonicalURL: any;
}

const { canonicalURL = Astro.url } = Astro.props;

let title = 'Morsels';
let description = "A list of code snippets and scripts I've written. Not too big, not too small. They're like tasty morsels.";

export async function getStaticPaths({paginate}) {
  const allPosts = await getCollection('morsels');
  const sortedPosts = allPosts.sort((a, b) => new Date(b.data.pubDate) - new Date(a.data.pubDate));
  return paginate(sortedPosts, { pageSize: 25 });
}

const { page } = Astro.props;
---
<Layout title={title} description={description}>
<div class="title-meta">
  <h1>{title}</h1>
  <section class="space-xl">
    <p>Code snippets, scripts, and musings on niche tech stuff.</p>
  </section>
</div>
<section class="space-xl">
  <ul class="post-list">
    {page.data.map(morsel => (
    <li class="post-listing">
      <a href={`/morsels/${morsel.slug}/`}>{morsel.data.title}</a>
      <span class="publish-date"><FormattedDate date={morsel.data.pubDate}/></span>
    </li>
    ))}
  </ul>
</section>
<div class="page-links space-xl">{page.url.prev && (
  <a
    class='prev'
    href={page.url.prev || '#'}
    >
    &laquo; Prev
  </a>
  )}
  {page.url.prev && page.url.next && ""}
  {page.url.next && (
  <a
    class='Next'
    href={page.url.next || '#'}
    >
    Next &raquo;
  </a>
)}</div>
</Layout>