---
// COMPONENTS

import Layout from '../../layouts/Layout.astro';
import FormattedDate from '../../components/FormattedDate.astro';
import { getCollection } from 'astro:content';

export interface Props {
  post: any;
}

export async function getStaticPaths({paginate}) {
  const allPosts = await getCollection('mlog');
  const sortedPosts = allPosts.sort((a, b) => new Date(b.data.pubDate) - new Date(a.data.pubDate));
  return paginate(sortedPosts, { pageSize: 25 });
}

const { page } = Astro.props;

// METADATA VARIABLES

let title = 'Mlog';
let description = "A mlog (media log) of all the media I consume."

---
<Layout {title} {description}>
      <div class="intro title-meta">
        <h1>{title}</h1>
      <p>{description}</p>
    </div>
    </section>
    <section>
      <ul class="post-list">
        {page.data.map(mlog => (
        <li class="post-listing">
          <a href={`/mlog/${mlog.slug}/`}>{mlog.data.title}</a>
          <span class="publish-date"><FormattedDate date={mlog.data.pubDate}/></span>
        </li>
        ))}
      </ul>
    </section>
  </Layout>