---
import ReleaseNotes from '../../layouts/ReleaseNotes.astro';
import Layout from '../../layouts/Layout.astro';
import Footer from '../../components/Footer.astro';
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import PrevNextLinking from '../../components/PrevNextLinking.astro';

export const sortByDate = (a, b) => {
  return new Date(b.data.pubDate) - new Date(a.data.pubDate);
}

export async function getStaticPaths() {
  const posts = await getCollection('release-notes');
  const numberOfPosts = posts.length;
  return posts.sort(sortByDate).map((post, i) => ({
    params: { slug: post.slug },
    props: {
      post,
      prevPost: // Previous post
          i + 1 === numberOfPosts // If the current post is the oldest
            ? { frontmatter: ""}
            : posts[i + 1],
      nextPost: // Next post
        i === 0 // If the current post is the newest
          ? { frontmatter: "" }
          : posts[i - 1],
        }
  }));
}

type Props = CollectionEntry<'release-notes'>;

const { post, prevPost, nextPost, prevSlug, prevTitle, nextSlug, nextTitle, contentType } = Astro.props;
const { Content } = await post.render();

---
<Layout title={post.data.title} description={post.data.description}>
<ReleaseNotes {...post.data}>
  <main class="layout">
    <article class="content">
      <p class="publish-date"><FormattedDate date={post.data.pubDate} /></p>
        <h1>{post.data.title}</h1>
          <Content />
            <PrevNextLinking contentType="release-notes" prevPost={prevPost.data} nextPost={nextPost.data} prevSlug={prevPost?.slug} prevTitle={prevPost.data?.title} nextSlug={nextPost?.slug} nextTitle={nextPost.data?.title} />
    </article>
  </main>
<Footer />
</ReleaseNotes>