---
import Layout from '../../layouts/Layout.astro';
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import FormattedDate from '../../components/FormattedDate.astro';
import site from '../../data/site.json';
import { getCollection } from 'astro:content';

export async function getStaticPaths({paginate}) {
  const allPosts = await getCollection('release-notes');
  const sortedPosts = allPosts.sort((a, b) => new Date(b.data.pubDate) - new Date(a.data.pubDate));
  return paginate(sortedPosts, { pageSize: 25 });
}

const { posts, post, canonicalURL = Astro.url } = Astro.props;

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'Release Notes';
let slug = '/release-notes';
let description = "Inspired by Alice Bartlett's and Monica Dinculescu's 'weaknotes', I decided to do my own spin on the concept. My release notes are a place where I just rant and let things out.";
let domain = "https://lukealexdavis.co.uk"

const { page } = Astro.props;
---
<Layout title={title} description={description} canonicalURL={canonicalURL} />
    <div class="layout">
      <article class="content">
        <section class="intro">
          <Header />
          <h1>{title}</h1>
        </section>
        <section class="bottom-gap">
          <p>Inspired by Alice Bartlett's and Monica Dinculescu's <a href="https://meowni.ca/weaknotes/">"weaknotes"</a>, I decided to do my own spin on the concept. My "release notes" are a place where I just rant and let things out, hence the name <em>release</em> notes.</p>
          <p>You can also follow my release notes <a href="/release-notes.xml">RSS feed</a>.</p>
        </section>
    <section>
       <ul class="post-list">
      {page.data.map(post => (
            <li class="post-listing">
              <a href={`/release-notes/${post.slug}/`}>{post.data.title}</a>
              <span class="publish-date"><FormattedDate date={post.data.pubDate}/></span>
            </li>
          ))}
        </ul>
    </section>
        <div class="page-links">{page.url.prev && (
          <a
            class='prev'
            href={page.url.prev || '#'}
          >
            &laquo; Prev
          </a>
        )}
        {page.url.prev && page.url.next && ""}
        {page.url.next && (
          <a
            class='Next'
            href={page.url.next || '#'}
          >
            Next &raquo;
          </a>
        )}</div>
      </article>      
    </div>
    <Footer/>
  </body>
</html>
