---
// COMPONENTS

import { Markdown } from 'astro/components';
import BaseHead from '../../../components/BaseHead.astro';
import BlogHeader from '../../../components/BlogHeader.astro';
import BlogFooter from '../../../components/BlogFooter.astro';
import Breadcrumbs from '../../../components/Breadcrumbs.astro';
import site from '../../../data/site.json';
import wiki from '../../../data/wiki.json'

// EXPORT

export interface Props {
  post: any;
  metaTitle: string;
  title: string;
  slug: string;
  description: string;
  domain: string;
}

// PROPS

const { post } = Astro.props;

// HOW FETCHING!

const remoteData = await fetch('https://playrface.co.uk/wp-json/wp/v2/posts?tags=62&per_page=100').then(response => response.json());

// METADATA VARIABLES

let title = 'Roger Federer';
let slug = '/wiki/sport/roger-federer/';
let description = "A wiki page all about Roger Federer.";
let domain = "https://lukealexdavis.co.uk"

---
<html lang="en">
  <head>
    <BaseHead title={'wiki/' + title.toLowerCase()} description={description} canonicalURL={domain + slug} />
    <link rel="stylesheet" href="/style/blog.css" />
    <style>
      body {
        width: 100%;
        display: flex;
      }

      header {
        width: 100%;
        height: 100%;
        background-color: var(--theme-bg-offset);
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .content {
        margin-bottom: 8rem;
      }

      .content :global(main > * + *) {
        margin-top: 1rem;
      }

      .intro {
        padding-bottom: 1.4rem;
      }

      .intro > * {
        margin: 0;
      }

      .content :global(main > * + *) {
  margin-top: 1rem;
}

.post-listing {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  }

.post-preview {
  padding-bottom: 1rem;
}

.post-listing a {
  max-width: 60%;
}

.publish-date {
  letter-spacing: 2px;
}

header {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  justify-content: center;

  padding-bottom: 2rem;
}

.title,
.author,
.publish-date {
  margin: 0;
}

.title {
  font-size: 2.25rem;
  font-weight: 700;
  color: var(--theme-text);
}

.wiki-h2 {
  margin-bottom: 2rem;
}

.wiki-h2:after {
   background: none repeat scroll 0 0 #295f2b;
   bottom: -0.5rem;
   content: "";
   display: block;
   height: 0.6rem;
   position: relative;
   width: 2.5rem;
}

.wiki-listing {
  padding-bottom: 0.5rem;
}

    </style>
  </head>

  <body>
    <BlogHeader />
    <div class="layout">
      <article class="content">
        <Breadcrumbs title={title}/>
        <section class="intro">
          <h1>{title}</h1>
        </section>
        <section>
          <Markdown>
          ## Inner voice
          
          * [/10-inspiring-creatives-2017.md](/post/10-inspiring-creatives-2017/)
          * [/khruangbin-and-federer.md](/post/khruangbin-and-federer/)
          * [/last-donut-of-the-night-when-federer-dilla-united-for-1-weekend.md/](/post/last-donut-of-the-night-when-federer-dilla-united-for-1-weekend/)
          * [/roger-federer-numbers-game.md](/post/roger-federer-numbers-game/)
          * [/the-last-5-games-of-the-2017-australian-open.md](/post/the-last-5-games-of-the-2017-australian-open/)
          </Markdown>
        </section>
      
    <section>
      <h2 class="wiki-h2">Out loud</h2>
       <ul class="post-list">
      {remoteData.map(( post ) => (
            <li class="post-preview wiki-listing post-list">
              <a href={post.link}><Fragment set:html={post.title.rendered}></a>
            </li>
          ))}
        </ul>
        <h2>Second opinions</h2>
        <ul>
          <li><a href="https://www.theguardian.com/sport/2003/jul/07/wimbledon2003.tennis2">Federer finds steel to galvanise his skill (2003)</a></li>
          <li><a href="https://grantland.com/the-triangle/the-sun-never-sets-on-roger-federer-endings-and-wimbledon/">The Sun Never Sets: On Roger Federer, Endings, and Wimbledon (2015)</a></li>
          <li><a href="https://grantland.com/the-triangle/this-is-34-roger-federer-will-not-go-away-thankfully/">This Is 34: Roger Federer Will Not Go Away, Thankfully (2015)</a></li>
        </ul>
    </section>
      </article>
      
    </div>
    <BlogFooter></BlogFooter>
  </body>
</html>
